<!doctype html>
<html ng-app="fuse">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Hydro</title>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <link rel='stylesheet' href='../bower_components/angular-chart.js/dist/angular-chart.css' />
        <link rel='stylesheet' href='../bower_components/chartist/dist/chartist.min.css' />
        <link rel='stylesheet' href='../bower_components/datatables/media/css/jquery.dataTables.css' />
        <link rel='stylesheet' href='../bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.css' />
        <link rel='stylesheet' href='../bower_components/nvd3/build/nv.d3.css' />
        <link rel='stylesheet' href='../bower_components/fullcalendar/dist/fullcalendar.css' />
        <link rel='stylesheet' href='../bower_components/c3/c3.css' />
        <link rel='stylesheet' href='../bower_components/highlightjs/styles/default.css' />
        <link rel='stylesheet' href='../bower_components/perfect-scrollbar/css/perfect-scrollbar.css' />
        <link rel='stylesheet' href='../bower_components/textAngular/dist/textAngular.css' />
        <link rel='stylesheet' href='../bower_components/toastr/toastr.css' />
        <link rel='stylesheet' href='../bower_components/angular-xeditable/dist/css/xeditable.css' />
        <link rel='stylesheet' href='../bower_components/moment-picker/dist/angular-moment-picker.min.css' />
        <link rel='stylesheet' href='../bower_components/angular-ui-tree/dist/angular-ui-tree.css' />
        <link rel='stylesheet' href='../bower_components/angular-gantt/assets/angular-gantt.css' />
        <link rel='stylesheet' href='../bower_components/angular-gantt/assets/angular-gantt-plugins.css' />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- inject:css -->
        <link rel="stylesheet" href="app/index.css">
        <!-- endinject -->
        <!-- endbuild -->

        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic'
              rel='stylesheet' type='text/css'>

    </head>

    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <body md-theme="{{vm.themes.active.name}}" md-theme-watch ng-controller="IndexController as vm"
          class="{{state.current.bodyClass || ''}}">

        <!-- SPLASH SCREEN -->
        <ms-splash-screen id="splash-screen">
            <div class="center">
                <div class="logo">
                    <span>H</span>
                </div>
                <!-- Material Design Spinner -->
                <div class="spinner-wrapper">
                    <div class="spinner">
                        <div class="inner">
                            <div class="gap"></div>
                            <div class="left">
                                <div class="half-circle"></div>
                            </div>
                            <div class="right">
                                <div class="half-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Material Design Spinner -->
            </div>
        </ms-splash-screen>
        <!-- / SPLASH SCREEN -->

        <div id="main" class="animate-slide-up" ui-view="main" layout="column"></div>

        <ms-theme-options></ms-theme-options>

        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.js"></script>
        <script src="../bower_components/Chart.js/Chart.js"></script>
        <script src="../bower_components/angular-chart.js/dist/angular-chart.js"></script>
        <script src="../bower_components/chartist/dist/chartist.min.js"></script>
        <script src="../bower_components/angular-chartist.js/dist/angular-chartist.js"></script>
        <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="../bower_components/datatables/media/js/jquery.dataTables.js"></script>
        <script src="../bower_components/angular-datatables/dist/angular-datatables.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
        <script src="../bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
        <script src="../bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="../bower_components/lodash/lodash.js"></script>
        <script src="../bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
        <script src="../bower_components/angular-messages/angular-messages.js"></script>
        <script src="../bower_components/angular-material/angular-material.js"></script>
        <script src="../bower_components/d3/d3.js"></script>
        <script src="../bower_components/nvd3/build/nv.d3.js"></script>
        <script src="../bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js"></script>
        <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="../bower_components/momentjs/moment.js"></script>
        <script src="../bower_components/humanize-duration/humanize-duration.js"></script>
        <script src="../bower_components/angular-timer/dist/angular-timer.js"></script>
        <script src="../bower_components/angular-translate/angular-translate.js"></script>
        <script src="../bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="../bower_components/moment/moment.js"></script>
        <script src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
        <script src="../bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../bower_components/c3/c3.js"></script>
        <script src="../bower_components/c3-angular/c3-angular.min.js"></script>
        <script src="../bower_components/datatables-responsive/js/dataTables.responsive.js"></script>
        <script src="../bower_components/highlightjs/highlight.pack.js"></script>
        <script src="../bower_components/mobile-detect/mobile-detect.js"></script>
        <script src="../bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
        <script src="../bower_components/rangy/rangy-core.js"></script>
        <script src="../bower_components/rangy/rangy-classapplier.js"></script>
        <script src="../bower_components/rangy/rangy-highlighter.js"></script>
        <script src="../bower_components/rangy/rangy-selectionsaverestore.js"></script>
        <script src="../bower_components/rangy/rangy-serializer.js"></script>
        <script src="../bower_components/rangy/rangy-textrange.js"></script>
        <script src="../bower_components/textAngular/dist/textAngular.js"></script>
        <script src="../bower_components/textAngular/dist/textAngular-sanitize.js"></script>
        <script src="../bower_components/textAngular/dist/textAngularSetup.js"></script>
        <script src="../bower_components/toastr/toastr.js"></script>
        <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
        <script src="../bower_components/angular-ui-sortable/sortable.js"></script>
        <script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>
        <script src="../bower_components/Sortable/Sortable.js"></script>
        <script src="../bower_components/Sortable/ng-sortable.js"></script>
        <script src="../bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
        <script src="../bower_components/moment-picker/dist/angular-moment-picker.min.js"></script>
        <script src="../bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
        <script src="../bower_components/angular-native-dragdrop/draganddrop.js"></script>
        <script src="../bower_components/css-element-queries/src/ElementQueries.js"></script>
        <script src="../bower_components/css-element-queries/src/ResizeSensor.js"></script>
        <script src="../bower_components/jsPlumb/dist/js/jsPlumb-2.0.5.js"></script>
        <script src="../bower_components/angular-moment/angular-moment.js"></script>
        <script src="../bower_components/angular-gantt/assets/angular-gantt.js"></script>
        <script src="../bower_components/angular-gantt/assets/angular-gantt-plugins.js"></script>
        <script src="../bower_components/moment-range/dist/moment-range.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
        <!-- inject:js -->
        <!-- js files will be automatically insert here -->
        <!-- endinject -->

        <!-- inject:partials -->
        <!-- angular templates will be automatically converted in js and inserted here -->
        <!-- endinject -->
        <!-- endbuild -->

    </body>
</html>
