@font-face {
    font-family: 'PenduleOrnamental';
    src: url('PenduleOrnamental.ttf');
}
body {
  color: #7A7A7A;
}

.toolbar-button {
  min-width: 20px;
}

.share-label {
  vert-align: middle;
  margin-left: 10px;
}

.page-content {
  background-color: #ECECEC;
}

.widget-progress {
  width: 95% !important;
  margin-left: 10px;
}

.capitalize {
  text-transform: capitalize;
}
.capitalize-logo {
  text-transform: capitalize;
  font-family: NiconneRegular;
}

.img-circle {
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}



.messages-content {
  position: relative;
  height: 100vh;
}

.panel-widget-toolbar {
  background-color: white;
  box-shadow: none;
  margin: 0;
}

.panel-widget-tittle {
    background-color: white;
    color: #7A7A7A;
}

.options {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.options.ng-hide {
  opacity:0;
}

.fixed-height-widget {
  height: 310px;
}

.donut-chart-title{
  text-align: center;
}

.custom-tooltip {
  font-size: 22px;
  color: #7A7A7A;
  text-align: center;
}

md-radio-group {
  border: none;
}

md-icon {
  height: auto;
}

md-sidenav.md-locked-open.md-sidenav-left {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

a.md-button.md-warn.md-raised, a.md-button.md-warn.md-fab, .md-button.md-warn.md-raised, .md-button.md-warn.md-fab {
  color: white;
}

md-radio-button.md-accent.md-checked .md-label span {
  color: rgb(0, 150, 136);
}

.md-toolbar-tools h1 {
  font-size: 22px;
}


md-backdrop.md-sidenav-backdrop {
  position: fixed;
}

.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.nvd3.nv-pie .nv-pie-title {
  fill: rgb(68, 68, 68);
  font-weight: 600;
  font-size: 22px !important;
}

.nvtooltip {
  background-color: transparent;
  border: none;
  font-weight: 600;
}

.orange .md-bar2 {
  background-color: orange;
}

.orange .md-container {
  background-color: rgb(255, 236, 201)
}

.table-tool {
    font-size: 16px;
    margin-top: 40px;
}

.blue{
    background-color: #6699ff;
    color: white;
    font-weight: bold;
}

.border_right{
    border-right-style: solid;
    border-right-width: 1px;
    text-align: center;
}

.partition_color{
    background-color: #EEE;
}

.table_find_member_center{
    text-align: center;
}
.table_find_member_left{
    text-align: left;
}

.table_text_margin{
    padding-left: 2%;
}

.blue_color{
    color: blue;
}

.green_color{
    color: green;
}

.md-sidenav-right {
  width: 700px;
  min-width: 200px;
  max-width: 700px;
}

.football {
    width: 150px;
    background-image: url('/resources/app/image/football-no-shadow.png');
    height: 170px;
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}
.football:hover{
    width: 150px;
    background-image: url('/resources/app/image/football-shadow.png');
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
}

.football_title {
    letter-spacing: 2px;
    margin-top: 15px;
    margin-right: 7px;
    font-family: 'PenduleOrnamental';
    color: #0066ff;
    font-weight: bold;
    font-size: 32px;
}

.football_button {
    width: 50px !important;
    height: 50px !important;
    margin-bottom: 6px !important;
    margin-right: 10px !important;
}

.football_icon {
    min-height: 40px;
    min-width: 40px;
}

.football_time {
    margin-bottom:50px;
    font-family: PenduleOrnamental;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 0.1px 0.1px #FFFFFF;
}

.red-text {
    color: red;
}

.yellow-text {
    color: #ffeb41;
}

.green-text {
    color: chartreuse;
}

.rwd-table {
    margin: 1em 0;
    min-width: 300px;
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:first-child {
    padding-top: .5em;
}
.rwd-table td:last-child {
    padding-bottom: .5em;
}
.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}
.rwd-table th, .rwd-table td {
    text-align: left;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
}

.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}
.rwd-table tr {
    border-color: #46637f;
}
.rwd-table th, .rwd-table td {
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}
.rwd-table th, .rwd-table td:before {
    color: #dd5;
}

.border-comment{
    background-color: white;
    border: 1px dashed #ddd;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
}
.use-dialog {
    background-image: url('/resources/app/image/use.png');
     background-size: 100% 100%;
     width:80%;
    height:500px;
    background-repeat: no-repeat;
    position:absolute;
}
