div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
}

.table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 200px;
    max-width: 200px;
    padding:5px;
    width: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.table-field th {
    color:#D5DDE5;;
    background:#343a45;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:18px;
    font-weight: bold;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

.table-field th:first-child {
    border-top-left-radius:3px;
}

.table-field th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

.table-field tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-field tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}

.table-field tr:first-child {
    border-top:none;
}

.table-field tr:last-child {
    border-bottom:none;
}

.table-field tr:nth-child(odd) td {
    background:#EBEBEB;
}

.table-field tr:nth-child(odd):hover td {
    background:#4E5066;
}

.table-field tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

.table-field tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

.table-field td {
    background:#FFFFFF;
    padding:10px;
    text-align:left;
    vertical-align:middle;
    font-weight:50;
    font-size:14px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.table-field td:last-child {
    border-right: 0px;
}

.table-field th.text-left {
    text-align: left;
}

.table-field th.text-center {
    text-align: center;
}

.table-field th.text-right {
    text-align: right;
}

.table-field td.text-left {
    text-align: left;
}

.table-field td.text-center {
    text-align: center;
}

.table-field td.text-right {
    text-align: right;
}

@media print {
    .myDivToPrint {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}