<!-- WIDGET GROUP -->
<div class="widget-group" layout="row" flex="100" layout-wrap>

  <!-- / WIDGET PRICE FIELD_5x5 -->
  <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">

    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
        <div class="h3">{{vm.widget8.title}}</div>

        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                     aria-label="more">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>

          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="flipWidget()" aria-label="Flip widget">
                <md-icon md-font-icon="icon-file-document" class="icon"></md-icon>
                {{vm.widget8.details}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.getClubForId();" aria-label="Refresh widget">
                <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                {{vm.widget8.refresh}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="pt-8 pb-32" layout="column" layout-align="center center" >
        <div class="purple-fg font-size-72 line-height-72">
          {{vm.infomationClub.price5x5}}
        </div>
        <div class="h2 secondary-text font-weight-500">{{vm.dataInformation.widget3.data.label}}</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h4 secondary-text text-truncate"></span>
        <span class="h4 ml-8"></span>
      </div>
    </ms-widget-front>
    <!-- / Front -->

    <!-- Back -->
    <ms-widget-back class="p-16 white-bg">
      <div class="flip-to-front">
        <md-button class="md-icon-button" ng-click="flipWidget()"
                   aria-label="Flip widget">
          <md-icon md-font-icon="icon-close" class="s16"></md-icon>
        </md-button>
      </div>

      <div class="pt-16 h3">
        {{vm.widget8.detail}}
      </div>
    </ms-widget-back>
    <!-- / Back -->

  </ms-widget>
  <!-- / WIDGET PRICE FIELD_5x5 -->


  <!-- WIDGET PRICE FIELD_7x7 -->
  <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">

    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
        <div class="h3">{{vm.widget9.title}}</div>

        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                     aria-label="more">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>

          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="flipWidget()" aria-label="Flip widget">
                <md-icon md-font-icon="icon-file-document" class="icon"></md-icon>
                {{vm.widget9.details}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.getClubForId();" aria-label="Refresh widget">
                <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                {{vm.widget9.refresh}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="pt-8 pb-32" layout="column" layout-align="center center">
        <div class="lime-fg font-size-72 line-height-72">
          {{vm.infomationClub.price7x7}}
        </div>
        <div class="h2 secondary-text font-weight-500">{{vm.dataInformation.widget3.data.label}}</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h4 secondary-text text-truncate"></span>
        <span class="h4 ml-8"></span>
      </div>
    </ms-widget-front>
    <!-- / Front -->

    <!-- Back -->
    <ms-widget-back class="p-16 white-bg">
      <div class="flip-to-front">
        <md-button class="md-icon-button" ng-click="flipWidget()"
                   aria-label="Flip widget">
          <md-icon md-font-icon="icon-close" class="s16"></md-icon>
        </md-button>
      </div>

      <div class="pt-16 h3">
        {{vm.widget3.detail}}
      </div>
    </ms-widget-back>
    <!-- / Back -->

  </ms-widget>
  <!-- / WIDGET PRICE FIELD_7x7 -->

  <!-- WIDGET PRICE FIELD_11x11 -->
  <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">

    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
        <div class="h3">{{vm.widget10.title}}</div>

        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                     aria-label="more">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>

          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="flipWidget()" aria-label="Flip widget">
                <md-icon md-font-icon="icon-file-document" class="icon"></md-icon>
                {{vm.widget10.details}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.getClubForId();" aria-label="Refresh widget">
                <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                {{vm.widget10.refresh}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="pt-8 pb-32" layout="column" layout-align="center center">
        <div class="brown-fg font-size-72 line-height-72">{{vm.infomationClub.price11x11}}</div>
        <div class="h2 secondary-text font-weight-500">{{vm.dataInformation.widget3.data.label}}</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h4 secondary-text text-truncate"></span>
        <span class="h4 ml-8"></span>
      </div>
    </ms-widget-front>
    <!-- / Front -->

    <!-- Back -->
    <ms-widget-back class="p-16 white-bg">
      <div class="flip-to-front">
        <md-button class="md-icon-button" ng-click="flipWidget()"
                   aria-label="Flip widget">
          <md-icon md-font-icon="icon-close" class="s16"></md-icon>
        </md-button>
      </div>

      <div class="pt-16 h3">
        {{vm.widget10.detail}}
      </div>
    </ms-widget-back>
    <!-- / Back -->

  </ms-widget>
  <!--/ WIDGET PRICE FIELD_11x11 -->

</div>
<!-- / WIDGET GROUP -->



<div class="widget-group" layout="row" flex="100" layout-wrap>
          <ms-widget layout="row" flex="100" >

            <!-- Front -->
            <ms-widget-front class="white-bg">

              <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                <div class="h1">{{vm.widget7.title}}</div>
              </div>
              <div class="p-16" layout="row">
                <blockquote>
                  <p class="pv-8 font-size-16">
                    {{vm.widget7.content}}
                  </p>
                </blockquote>
              </div>

              <div layout="row" flex-offset="15">

                <div layout="column">
                  <span class="h3">{{vm.widget7.chooseField}}</span>
                  <md-select class="h3" placeholder="Loại sân" ng-model="vm.dataFieldInput.typeField" ng-value="" ng-click="vm.getTypeFieldOfClub()">
                    <md-option ng-repeat="type in vm.dataTypeField" value={{type.typeField}}>{{type.typeContent}}</md-option>
                  </md-select>
                </div>
                <div layout="column" flex-offset="10">
                  <span class="h3">{{vm.widget7.timeStart}}</span>
                  <div layout="row">
                    <md-select class="h3" placeholder="Giờ" ng-model="vm.dataFieldInput.startHour" ng-value="">
                    <md-option ng-repeat="sh in vm.Time.hour" value={{sh}}>{{sh}}</md-option>
                    </md-select>
                    <p class="pt-10 h3" flex-offset="10">:</p>
                    <md-select flex-offset="5" class="h3" placeholder="Phút" ng-model="vm.dataFieldInput.startMinute" ng-value="">
                      <md-option value="00">00</md-option>
                      <md-option value="30">30</md-option>
                    </md-select>
                  </div>
                </div>

                <div layout="column" flex-offset="10">
                  <span class="h3">{{vm.widget7.timeEnd}}</span>
                  <div layout="row">
                    <md-select class="h3" placeholder="Giờ" ng-model="vm.dataFieldInput.endHour" ng-value="">
                      <md-option ng-repeat="eh in vm.Time.hour" value={{eh}}>{{eh}}</md-option>

                    </md-select>
                    <p class="pt-10 h3" flex-offset="10">:</p>
                    <md-select flex-offset="5" class="h3" placeholder="Phút" ng-model="vm.dataFieldInput.endMinute" ng-value="">
                      <md-option value="00">00</md-option>
                      <md-option value="30">30</md-option>
                    </md-select>
                  </div>
                </div>
                <div class="pt-30" flex-offset="5">
                    <md-button ng-style="{'background-color': '#006F65', 'color': '#ffffff'}"
                               ng-click="vm.checkInformationRentFootball(vm.dataFieldInput.typeField, vm.dataFieldInput.startHour, vm.dataFieldInput.startMinute, vm.dataFieldInput.endHour, vm.dataFieldInput.endMinute);">
                      <span>{{vm.widget7.findField}}</span>
                    </md-button>
                </div>
              </div>

              <div layout="row" layout-align="center center">
                <span class="pt-5 h3" ng-style="{'color':'#D50000'}" ng-hide="vm.flagErrorRentFootball">{{vm.errorRentFootball}}</span>
              </div>

              <!-- FIELD LIST -->
              <ms-widget-front class="white-bg">
                <div class="p-8 mb-8 border-bottom md-whiteframe-5dp" ng-style="{'background-color': '#006F65', 'color': '#ffffff'}" layout="row" layout-align="space-between center" >
                  <div class="h2">{{vm.widget7.fieldList}}</div>
                </div>

                <div class="p-16" layout="row" flex="100" flex-gt-sm="30" flex-offset="15" flex-gt-md="70"  layout-wrap ng-hide="vm.flagFieldList">
                  <div class="p-16" layout="column" flex="100" flex-gt-xs="50"
                       layout-align="center"
                       ng-repeat="fclb in vm.FieldOfClub">
                    <ms-widget flippable="true" layout="row" flex="50" flex-gt-xs="100" flex-gt-md="100" md-whiteframe="3">

                      <!-- Front -->
                      <ms-widget-front class="white-bg">
                        <div class="pt-8 pb-8" layout="column" layout-align="center center">
                          <div class="teal-fg font-size-50 line-height-72" >
                            {{fclb.idField}}
                          </div>
                          <div class="h3 font-weight-500">{{vm.widget7.field}}</div>
                        </div>

                        <div class="p-8 grey-50-bg border-top" layout="row" layout-align="center center">
                            <md-button ng-style="{'background-color': '#006F65', 'color': '#ffffff'}"
                            ng-click="vm.reservationField(fclb.idField); vm.dialogReservationFieldSuccess();">
                              <span>{{vm.widget7.rentField}}</span>
                            </md-button>
                          <!--</span>-->
                          <span class="h4 ml-8"></span>
                        </div>
                      </ms-widget-front>
                      <!-- / Front -->



                    </ms-widget>
                  </div>
                </div>
              </ms-widget-front>
              <!-- / FIELD LIST -->

            </ms-widget-front>
            <!-- / Front -->

          </ms-widget>
</div>
<!-- / WIDGET GROUP -->
