@font-face {
    font-family: 'Nicon';
    src: url('NiconneRegular.ttf');
}

.text-center {
  text-align: center; }

.title {
    font-family: Nicon;
    font-size: 80px;    
    background-color: white;
    color: #0099ff;
    text-shadow: 0px 0px 1px rgba(28, 44, 0, 1);
    -webkit-box-shadow:0px 0px 5px 1px #0b0a0a ;
-moz-box-shadow:0px 0px 5px 1px #0b0a0a ;
box-shadow:0px 0px 5px 1px #0b0a0a ;
    
}

.angry-animate{
-webkit-animation:flip 3s ease 0s infinite normal;
-moz-animation:flip 3s ease 0s infinite normal;
-ms-animation:flip 3s ease 0s infinite normal;
animation:flip 3s ease 0s infinite normal;
border-radius:25px 25px 25px 25px;
-moz-border-radius:25px 25px 25px 25px;
-webkit-border-radius:25px 25px 25px 25px;
}

@-webkit-keyframes flip {
0%{ -webkit-transform: translateY(0); transform: rotateY(0deg); }
50%{ -webkit-transform: translateY(180); transform: rotateY(180deg); }
100%{ -webkit-transform: translateY(0); transform: rotateY(0deg); }
}

@keyframes flip {
0%{ transform: rotateY(0deg); }
50%{ transform: rotateY(180deg); }
100%{ transform: rotateY(0deg); }
}



html,
body,
md-content {
  background-color: #f5f5f5 !important;
  -moz-osx-font-smoothing: grayscale;
}
md-toolbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
md-card:first-child {
  padding: 8px 8px 8px 24px;
}
.checkboxes > md-checkbox {
  margin: 0;
  padding: 16px;
  min-width: 300px;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}
@media all and (min-width: 601px) {
  md-toolbar .md-title {
    margin-left: 56px;
  }
  md-card {
    margin: 72px;
  }
  md-card + md-card {
    margin-top: 0;
  }
}
md-toolbar.md-table-toolbar.alternate {
  color: #1e88e5;
  background-color: #e3f2fd;
}
md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
  font-size: 16px;
}

.red-text {
    color: red;
}