<!-- WIDGET 1 -->
<ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="100">

  <!-- Front -->
  <ms-widget-front class="white-bg">
    <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
      <div class="h1 pl-16 pr-8 pv-16">{{vm.widget1.title}}</div>
    </div>

    <div class="pt-8 pb-32" layout="column" layout-align="center center">
      <table class="simple" ms-responsive-table>
        <thead>
        <tr class="h2">
          <th ng-style="{'text-align': 'center'}">{{vm.widget1.table.fields}}</th>
          <th ng-style="{'text-align': 'center'}">{{vm.widget1.table.type}}</th>
          <th ng-style="{'text-align': 'center'}">{{vm.widget1.table.date}}</th>
          <th ng-style="{'text-align': 'center'}">{{vm.widget1.table.startTime}}</th>
          <th ng-style="{'text-align': 'center'}">{{vm.widget1.table.endTime}}</th>
          <th ng-style="{'text-align': 'center'}">{{vm.widget1.table.rate}}</th>
          <th></th>
        </tr>
        </thead>

        <tfoot>
        <tr>
          <td></td>
        </tr>
        </tfoot>

        <tbody ng-repeat="dr in vm.dataBooking">
        <tr >
          <td class="h3" ng-style="{'text-align': 'center'}">{{dr.field}}</td>
          <td class="h3" ng-style="{'text-align': 'center'}">{{dr.typeOfField}}</td>
          <td class="h3" ng-style="{'text-align': 'center'}">{{dr.date}}</td>
          <td class="h3" ng-style="{'text-align': 'center'}">{{dr.startTime}}</td>
          <td class="h3" ng-style="{'text-align': 'center'}">{{dr.endTime}}</td>
          <td class="h3" ng-style="{'text-align': 'center'}">{{dr.rates}},000 VNĐ</td>
          <td><md-button ng-style="{'background-color':'#1E7D74','color':'#ffffff'}" ng-click="vm.dialogCancelReservation($event, dr.idReservation);">{{vm.widget1.table.cancel}}</md-button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="p-16 grey-50-bg border-top" layout="column" layout-align="space-between start">
      <span class="h2  text-truncate">{{vm.widget1.table.noteTiltle}}</span>
      <span flex-offset="5" class="h3  text-truncate">{{vm.widget1.table.noteContent_1}}</span>
      <span flex-offset="5" class="h3  text-truncate">{{vm.widget1.table.noteContent_2}}</span>
      <span flex-offset="5" class="h3  text-truncate">{{vm.widget1.table.noteContent_3}}</span>
      <span flex-offset="5" class="h3  text-truncate">{{vm.widget1.table.noteContent_4}}</span>
    </div>
  </ms-widget-front>
  <!-- / Front -->

  <!-- Back -->
  <ms-widget-back class="p-16 white-bg">
    <div class="flip-to-front">
      <md-button class="md-icon-button" ng-click="flipWidget()"
                 aria-label="Flip widget">
        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
      </md-button>
    </div>

    <div class="h3">
      {{vm.widget1.detail}}
    </div>
  </ms-widget-back>
  <!-- / Back -->

</ms-widget>
<!-- / WIDGET 1 -->
