<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Đổi mật khẩu</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="resources/app/icon/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
        <label>Mật khẩu cũ</label>
        <input type="password" ng-model="password.oldPassword">        
        <span class="red-text" ng-show="showError">Mật khẩu cũ chưa đúng</span>
      </md-input-container>
      <md-input-container>
        <label>Mật khẩu mới</label>
        <input type="password" ng-model="password.newPassword">
      </md-input-container>
      <md-input-container>
        <label>Nhập lại mật khẩu mới</label>
        <input type="password" ng-model="password.newPasswordAgain">        
        <span class="red-text" ng-show="show">Nhập lại mật khẩu chưa đúng</span>
      </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">      
      <md-button ng-click="answer()">
       Xác nhận
      </md-button>
      <md-button ng-click="cancel()">
        Hủy
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>