<md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Sân">
                <div ng-include="'resources/app/views/partials/field.html'"></div>
            </md-tab>
            <md-tab label="Loại thành viên">
                <div ng-include="'resources/app/views/partials/typeMember.html'"></div>
            </md-tab>
            <md-tab label="Thông báo">
                <div ng-include="'resources/app/views/partials/notification.html'"></div>
            </md-tab>
            <md-tab label="Thống kê">
                <div ng-include="'resources/app/views/partials/report.html'"></div>
            </md-tab>
        </md-tabs>
</md-content>