<md-content ng-controller="EmployeeController as vm" layout="row" layout-align="center center" ng-init="vm.loadNumber();">
    <nvd3 options="vm.chartOptionsEmployee" data="vm.visitorsChartDataEmployee"></nvd3>
</md-content>
