<md-content ng-controller="Field5x5Controller as vm" layout="column" layout-align="center center" ng-init="vm.loadNumber(2);">
    <div style="margin-top: 10px;">Sân 7x7</div>
    <nvd3 options="vm.chartOptions" data="vm.ChartData7x7"></nvd3>
</md-content>
