<md-content ng-controller="Field5x5Controller as vm" layout="column" layout-align="center center" ng-init="vm.loadNumber(1);">
    <div style="margin-top: 10px;">Sân 5x5</div>
    <nvd3 options="vm.chartOptions" data="vm.ChartData5x5"></nvd3>
</md-content>
