<md-content ng-controller="Field5x5Controller as vm" layout="column" layout-align="center center" ng-init="vm.loadNumber(0);">
    <div style="margin-top: 10px;">Sân 11x11</div>
    <nvd3 options="vm.chartOptions" data="vm.ChartData11x11"></nvd3>
</md-content>
