<md-dialog aria-label="Field" ng-init="getReservation($event);">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="text-align: center;">Sân {{field}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="resources/app/icon/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div ng-show="showAdd" name="add">
            <div layout="row" layout-align="center center">
                <div style="margin-top: 5px;">Bắt đầu: </div>
                <md-input-container >
                    <label>Giờ</label>
                    <md-select ng-model="hourStart" md-on-open="loadStartHourTime()" style="min-width: 50px;">
                        <md-option ng-value="hour" ng-repeat="hour in start.hour">{{hour}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Phút</label>
                    <md-select ng-model="minuteStart" md-on-open="loadStartMinuteTime()" style="min-width: 50px;">
                        <md-option ng-value="minute" ng-repeat="minute in start.minute">{{minute}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row" layout-align="center center">
                <div style="margin-top: 5px;">Kết thúc: </div>
                <md-input-container>
                    <label>Giờ</label>
                    <md-select ng-model="hourEnd" md-on-open="loadEndHourTime()" style="min-width: 50px;">
                        <md-option ng-value="hour" ng-repeat="hour in end.hour">{{hour}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Phút</label>
                    <md-select ng-model="minuteEnd" md-on-open="loadEndMinuteTime()" style="min-width: 50px;">
                        <md-option ng-value="minute" ng-repeat="minute in end.minute">{{minute}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            </div>
            <table class="rwd-table">
                <tr>
                    <th >Giờ đặt</th>
                    <th >Giờ kết thúc</th>
                    <th>Hủy</th>
                </tr>
                <tr ng-repeat="reservation in reservations">
                    <td data-th="Movie Title" ng-bind="reservation.startTime"></td>
                    <td data-th="Genre" ng-bind="reservation.endTime"></td>
                    <td>
                        <md-button class="md-fab md-mini" ng-click="deleteReservation( $event ,reservation.idReservation, $index);">
                            <md-icon md-svg-src="resources/app/icon/ic_close_white_24px.svg"></md-icon>
                        </md-button>
                    </td>
                </tr>
            </table>
            
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button ng-show="!showAdd" class="md-raised" style="background-color: #2ca02c; font-weight: bold;" ng-click="show()">
                Thêm lịch
            </md-button>
            <md-button ng-show="showAdd" class="md-raised" style="background-color: #2ca02c; font-weight: bold;" ng-click="addReservation($event)"
                       ng-disabled="(hourStart == '') || (minuteStart == '') || (hourEnd == '') || (minuteEnd == '')">
                Lưu
            </md-button>
            <md-button ng-show="showAdd" class="md-raised" style="background-color: #2ca02c; font-weight: bold;" ng-click="hide()">
                Hủy
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>