<div ng-controller="FieldController as vm" ng-init="vm.autoLoad();" md-theme="green" layout="column" layout-align="center center">
    <div style="margin-top: 10px;">
    </div>
    <div layout="row" layout-margin>
        <div layout="column">
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary capitalize" ng-click="vm.addNewField('5x5');"
                           style="color: white; font-weight: bold;">Thêm Sân
                </md-button>
               <md-button class="md-raised md-warn capitalize" ng-click="vm.showAdvanced($event, '5x5')"
                           style="color: white; font-weight: bold;">Đổi giá
                </md-button>
            </div>
            
            
        <table class="table-fill table-field">
            <thead>
            <tr>
                <th class="text-center" colspan="3">Sân 5x5</th>
            </tr>
            <tr>
                <th class="text-center">Mã sân</th>
                <th class="text-center">Giá</th>
                <th class="text-center">Xóa</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <tr ng-repeat="item in vm.createDummyData5">
                <td class="text-center">{{item.idField}}</td>
                <td class="text-center">{{item.price}}</td>
                <td class="text-center">
                    <md-button class="md-fab md-mini" aria-label="More" ng-click="vm.deleteMember(item.idField);">
                        <md-icon md-svg-src="resources/app/icon/ic_delete_white_36px.svg"
                                 style="color: activeborder;"></md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary capitalize" ng-click="vm.addNewField('7x7');"
                           style="color: white; font-weight: bold;">Thêm Sân
                </md-button>
                <md-button class="md-raised md-warn capitalize" ng-click="vm.showAdvanced($event, '7x7')"
                           style="color: white; font-weight: bold;">Đổi giá
                </md-button>
            </div>               

            <table class="table-fill table-field">
                <thead>
                <tr>
                    <th class="text-center" colspan="3">Sân 7x7</th>
                </tr>
                <tr>
                    <th class="text-center">Mã sân</th>
                    <th class="text-center">Giá</th>
                    <th class="text-center">Xóa</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                <tr ng-repeat="item in vm.createDummyData7">
                    <td class="text-center">{{item.idField}}</td>
                    <td class="text-center">{{item.price}}</td>
                    <td class="text-center">
                        <md-button class="md-fab md-mini" aria-label="More" ng-click="vm.deleteMember(item.idField);">
                            <md-icon md-svg-src="resources/app/icon/ic_delete_white_36px.svg"
                                     style="color: activeborder;"></md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary capitalize" ng-click="vm.addNewField('11x11');"
                           style="color: white; font-weight: bold;">Thêm Sân
                </md-button>
                <md-button class="md-raised md-warn capitalize" ng-click="vm.showAdvanced($event, '11x11')"
                           style="color: white; font-weight: bold;">Đổi giá
                </md-button>
            </div>

            <table class="table-fill table-field">
                <thead>
                <tr>
                    <th class="text-center" colspan="3">Sân 11x11</th>
                </tr>
                <tr>
                    <th class="text-center">Mã sân</th>
                    <th class="text-center">Giá</th>
                    <th class="text-center">Xóa</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                <tr ng-repeat="item in vm.createDummyData1">
                    <td class="text-center">{{item.idField}}</td>
                    <td class="text-center">{{item.price}}</td>
                    <td class="text-center">
                        <md-button class="md-fab md-mini" aria-label="More" ng-click="vm.deleteMember(item.idField);">
                            <md-icon md-svg-src="resources/app/icon/ic_delete_white_36px.svg"
                                     style="color: activeborder;"></md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
