<md-dialog aria-label="Mango (Fruit)" flex="40">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="resources\app\icon\ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column" layout-padding>
                <md-input-container>
                    <label>Loại thành viên</label>
                    <input ng-disabled="dis" ng-model="infor.typeOfMember" type="text" required>
                </md-input-container>
                <md-input-container>
                    <label>Phần trăm khuyến mãi</label>
                    <input ng-model="infor.percentDiscount" type="number" required max="100" min="0">
                </md-input-container>
                <md-input-container>
                    <label>Điều kiện giờ</label>
                    <input ng-model="infor.hourCondition" type="number" required>
                </md-input-container>
                <md-input-container>
                    <label>Điều kiện chi phí</label>
                    <input ng-model="infor.paymentCondition" type="number" required>
                </md-input-container>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="answer()">
                Xác nhận
            </md-button>
            <md-button ng-click="cancel()">
                Hủy
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>