<md-content ng-controller="EmployeeController as vm" layout="row" layout-align="center center" ng-init="vm.loadNumber();">
    <nvd3 options="vm.chartOptionsMember" data="vm.visitorsChartDataMember"></nvd3>
</md-content>
