<md-content ng-controller="NotificateController as vm" class="md-padding" >
    
    <table class="table-fill table-field" style="width: 800px; max-width: 100%;">
            <thead>
            <tr>
                <th class="text-center">Ngày</th>
                <th class="text-center">Tiêu đề</th>             
                <th class="text-center">Sửa</th>
                <th class="text-center">Xóa</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <tr ng-repeat="item in vm.dataField">
                <td class="text-center">{{item.startDate}}</td>
                <td class="text-center">{{item.title}}</td>  
                <td class="text-center">
                    <md-button class="md-fab md-mini" aria-label="More" ng-click="vm.showAdvanced($event,'Chỉnh sửa loại thành viên', item);">
                        <md-icon md-svg-src="resources/app/icon/ic_mode_edit_white_36px.svg"
                                 style="color: activeborder;"></md-icon>
                    </md-button>
                </td>
                <td class="text-center">
                    <md-button class="md-fab md-mini" aria-label="More" ng-click="vm.deleteMember(item.typeOfMember);">
                        <md-icon md-svg-src="resources/app/icon/ic_delete_white_36px.svg"
                                 style="color: activeborder;"></md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    
    <div layout="column" md-whiteframe="3" layout-padding>
        <md-input-container>
            <label>Tiêu đề</label>
            <input type="text" ng-model="vm.notification.title">
        </md-input-container>
        <md-input-container>
            <label>Nội dung</label>
            <textarea ng-model="vm.notification.content" rows="4" cols="100"></textarea>
        </md-input-container>
    </div>

</md-content>
