<md-content ng-controller="ReportController as vm" class="md-padding" layout="column" layout-align="center center">
    <b>Chọn thời điểm cần thống kê: </b>
    <div layout="row" style=" margin-top: 2%;">
    <md-input-container flex="50">
          <label>Năm</label>
          <md-select ng-model="vm.time.year">
            <md-option ng-repeat="state in vm.year" ng-value="state">
              {{state}}
            </md-option>
          </md-select>
    </md-input-container>
    <md-input-container flex="50">
          <label>Tháng</label>
          <md-select ng-model="vm.time.month">
            <md-option ng-repeat="state in vm.month | filter: vm.greaterThan('state')" ng-value="state">
              {{state}}
            </md-option>
          </md-select>
    </md-input-container >
    <md-button ng-click="vm.load()" flex="50" class="md-raised md-primary" style="background-color: green; height: 10%; margin-top: 10px;">Tìm</md-button>
    </div>
    <div layout="row" layout-align="" ng-show="vm.showSave">
        <p>Báo cáo thu nhập tháng {{vm.time.month}} năm {{vm.time.year}}: &nbsp;</p>
        <md-button ng-click="vm.get();" class="md-raised md-warn">Lưu file PDF</md-button>
    </div>
    
    <div id="reportPDF" class="myDivToPrint">
        <table class="table-fill table-field" style="width: 700px; max-width: 100%;">
            <thead>
                <tr style="background-color: #9E9E9E;">
                    <th class="text-center" colspan="7">Báo cáo tháng {{vm.time.month}} năm {{vm.time.year}}</th>
                </tr>
            <tr>
                <th class="text-center" colspan="3">Ngày</th>
                <th class="text-center">Sân 5x5 (VND)</th>             
                <th class="text-center">Sân 7x7 (VND)</th>
                <th class="text-center">Sân 11x11 (VND)</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <tr ng-repeat="item in vm.data">
                <td class="text-center" colspan="3">{{item.date}}</td>
                <td class="text-center">{{vm.createMoney(item.sum[0]) | number:0}}</td>      
                <td class="text-center">{{vm.createMoney(item.sum[1]) | number:0}}</td>   
                <td class="text-center">{{vm.createMoney(item.sum[2]) | number:0}}</td>   
            </tr>
            </tbody>
        </table>
    </div>
</md-content>
