<div class="messages" ng-controller="TypeMemberController as vm" ng-init="vm.autoLoad();">

    <div layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary capitalize" ng-click="vm.showAdvanced($event,'Thêm loại thành viên', []);"
                       style="color: white; font-weight: bold;">Thêm Loại thành viên
            </md-button>
        </div>

        <table class="table-fill table-field" style="width: 800px; max-width: 100%;">
            <thead>
            <tr>
                <th class="text-center">Loại thành viên</th>
                <th class="text-center">Phần trăm khuyến mãi</th>
                <th class="text-center">Điều kiện giờ</th>
                <th class="text-center">Điều kiện chi phí</th>
                <th class="text-center">Sửa</th>
                <th class="text-center">Xóa</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <tr ng-repeat="item in vm.dataField">
                <td class="text-center">{{item.typeOfMember}}</td>
                <td class="text-center">{{item.percentDiscount}}</td>
                <td class="text-center">{{item.hourCondition}}</td>
                <td class="text-center">{{item.paymentCondition}}</td>
                <td class="text-center">
                    <md-button class="md-fab md-mini" aria-label="More" ng-click="vm.showAdvanced($event,'Chỉnh sửa loại thành viên', item);">
                        <md-icon md-svg-src="resources/app/icon/ic_mode_edit_white_36px.svg"
                                 style="color: activeborder;"></md-icon>
                    </md-button>
                </td>
                <td class="text-center">
                    <md-button class="md-fab md-mini" aria-label="More" ng-click="vm.deleteMember(item.typeOfMember);">
                        <md-icon md-svg-src="resources/app/icon/ic_delete_white_36px.svg"
                                 style="color: activeborder;"></md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>