<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cập nhật giá sân</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="resources/app/icon/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="form" layout="row">
        <md-dialog-content>
            <div class="md-dialog-content">
            <md-input-container class="md-block">
                <label>Nhập giá (Nghìn đồng)</label>
                <input name="price"  required md-no-asterisk type="number" ng-model="price">
                <div ng-messages="form.price.$error" ng-if="!form.price.$error">
                    <div ng-message="required">Đây là trường bắt buộc</div>
                </div>
            </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="answer()" ng-disabled="!form.$valid">
                Cập nhật
            </md-button>
            <md-button ng-click="cancel()">
                Hủy
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>