<md-dialog aria-label="Mango (Fruit)" flex="80" style="height : 500px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Hướng dẫn sử dụng</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="resources/app/icon/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content flex="100">
        <div class="use-dialog"></div>
    </md-dialog-content>
  </form>
</md-dialog>