<md-content ng-controller="VisitorsController as vm" layout="row" layout-align="center center" ng-init="vm.loadNumber();">
    <nvd3 options="vm.chartOptions" data="vm.visitorsChartData"></nvd3>
</md-content>
