<div layout-gt-md="row">
    <panel-widget flex title="Sân" template="resources/app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="Thành Viên" template="resources/app/views/partials/member.html" class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="Nhân Viên" template="resources/app/views/partials/employee.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">   

    <section flex class="md-whiteframe-z1 panel-widget" class="fixed-height-widget">
        <md-toolbar md-theme="custom" class="md-hue-1 panel-widget-toolbar" layout="row"> 
            <div class="md-toolbar-tools" layout="row" layout-align="center center"> 
                <h3 hide-gt-md class="panel-widget-tittle">Tình Trạng</h3>
            </div> 
        </md-toolbar>
        <div ng-include="'resources/app/views/partials/field5x5.html'"/> 
    </section>
    
    <section flex class="md-whiteframe-z1 panel-widget" class="fixed-height-widget">
        <md-toolbar md-theme="custom" class="md-hue-1 panel-widget-toolbar" layout="row"> 
            <div class="md-toolbar-tools" layout="row" layout-align="center center"> 
                <h3 hide-md hide-sm hide-xs class="panel-widget-tittle">Tình Trạng</h3>      
            </div> 
        </md-toolbar>
        <div ng-include="'resources/app/views/partials/field7x7.html'"/> 
    </section>
    
    <section flex class="md-whiteframe-z1 panel-widget" class="fixed-height-widget">
        <md-toolbar md-theme="custom" class="md-hue-1 panel-widget-toolbar" layout="row"> 
            <div class="md-toolbar-tools" layout="row" layout-align="center center"> 
            </div> 
        </md-toolbar>
        <div ng-include="'resources/app/views/partials/field11x11.html'"/> 
    </section>
</div>
