<div class="table-responsive-vertical md-whiteframe-z1">
    <md-toolbar flex layout-padding class="md-table-toolbar md-default">
        <div class="md-toolbar-tools" layout="row" layout-align="center center" md-theme="green">
            <md-input-container class="md-icon-float md-block table-tool" flex="30">
                <label >Nhập chức vụ hoặc tên thành viên</label>
                <md-icon md-svg-icon="resources/app/icon/ic_search_black_36px.svg"></md-icon>
                <input ng-model="vm.paramater">
            </md-input-container>
            <md-button class="md-raised md-warn capitalize md-hue" ng-click="vm.find(vm.paramater);" style="font-weight: bold;">Tìm Kiếm</md-button>
            <md-button class="md-raised md-primary capitalize" ng-click="vm.RightSidebarNewMember();" style="color: white; font-weight: bold;">Thêm Nhân Viên</md-button>
        </div>
    </md-toolbar>

    <!-- exact table from live demo -->
    <md-table-container>
    <table md-table multiple ng-model="selected" class="table table-hover table-bordered" >
        <thead md-head md-order="query.order">
        <tr md-row>
            <th md-column flex="">Mã nhân viên</th>
            <th md-column ><span>Họ tên</span></th>
            <th md-column><span>Chức vụ</span></th>
            <th md-column>Số điện thoại</th>
            <th md-column >Lương</th>
            <th md-column >Chi tiết</th>
            <th md-column >Xóa</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="item" md-select-id="name" md-auto-select
            ng-repeat="item in vm.tableData | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit">
            <td md-cell>{{item.username}}</td>
            <td md-cell>{{item.name}}</td>
            <td md-cell>{{item.work}}</td>
            <td md-cell>{{item.numberPhone}}</td>
            <td md-cell> {{item.salary}}</td>
            <td md-cell>
                <md-button  class="md-fab md-mini" aria-label="More" ng-click="vm.toggleRightSidebar($index);">
                    <md-icon md-svg-src="resources/app/icon/ic_more_horiz_white_36px.svg" style="color: activeborder;"></md-icon>
                </md-button>
            </td>
            <td md-cell>
                <md-button class="md-fab md-mini" aria-label="More" ng-click="vm.deleteMember($index);">
                    <md-icon md-svg-src="resources/app/icon/ic_delete_white_36px.svg" style="color: activeborder;"></md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
    </md-table-container>

    <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.tableData.length}}" md-page-select></md-table-pagination>
</div>

<md-sidenav md-component-id="right" md-theme="green"
            class="md-whiteframe-z2 md-sidenav-right" layout-padding>
    <form name="updateForm">
        <md-content layout="column" layout-align="start stretch">
            <div layout="row">
                <h2 style="color: #cc0000; text-align: center; text-shadow: 3px 3px 3px #DDDDDD;" flex="95">Thông tin nhân viên</h2>
                <md-button ng-click="close()" class="md-icon-button" flex="5">
                    <md-icon md-svg-src="resources/app/icon/ic_close_black_64px.svg" aria-label="Alarm Icon"></md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="center center">
                <md-switch ng-model="vm.isUpdate" aria-label="update" md-invert>
                    Thay đổi
                </md-switch>
            </div>

            <div layout="row" layout-align="space-around start" layout-padding>
                <md-input-container flex="45">
                    <label>Họ tên</label>
                    <md-icon md-svg-src="resources/app/icon/avatar.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="name" ng-disabled="!vm.isUpdate" required type="text" ng-model="vm.indexItem.name">
                    <span class="red-text" ng-show="updateForm.name.$error.required && updateForm.name.$touched">Đây là trường bắt buộc</span>
                </md-input-container>
                <md-input-container flex-offset="5" flex="45">
                    <label >Mã nhân viên</label>
                    <md-icon md-svg-src="resources/app/icon/account.svg" style="color: #0066ff;"></md-icon>
                    <input name="username" ng-disabled="true"  type="text" ng-model="vm.indexItem.name">
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-between start" layout-padding>
                <md-input-container flex="45">
                    <label >Số CMND</label>
                    <md-icon md-svg-src="resources/app/icon/id-card.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="cmnd" ng-disabled="!vm.isUpdate" type="number" ng-minlength="9" ng-maxlength="9" required  ng-model="vm.indexItem.id">
                    <span class="red-text" ng-show="newForm.cmnd.$error.required && newForm.cmnd.$touched">Đây là trường bắt buộc</span>
                    <span class="red-text" ng-show="(newForm.cmnd.$error.maxlength || newForm.cmnd.$error.minlength ) && newForm.cmnd.$touched">Chứng minh nhân dân phải gồm 9 chữ số</span>
                </md-input-container>
                <div flex="50">
                    <md-input-container>
                        <label >Ngày sinh</label>
                        <md-datepicker md-current-view="new Date('1-1-1990');" name="birthdate" md-open-on-focus ng-disabled="!vm.isUpdate" ng-model="vm.indexItem.birthdate"></md-datepicker>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="space-around start">
                <md-radio-group ng-disabled="!vm.isUpdate" ng-model="vm.indexItem.gender" layout="row" style="margin-top: 30px;">
                    <md-icon md-svg-src="resources/app/icon/gender.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <label>Giới tính: </label>
                    <md-radio-button style="margin-left: 5px;" value="Nam">Nam</md-radio-button>
                    <md-radio-button value="Nu">Nữ</md-radio-button>
                </md-radio-group>
                <md-input-container flex="45">
                    <label >Địa chỉ</label>
                    <md-icon md-svg-src="resources/app/icon/location-pin.svg" style="color: #0066ff;"></md-icon>
                    <input ng-disabled="!vm.isUpdate" name="address" required type="text" ng-model="vm.indexItem.address">
                    <span class="red-text" ng-show="updateForm.address.$error.required && updateForm.address.$touched">Đây là trường bắt buộc</span>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around start" layout-padding>
                <md-input-container flex="45" md-no-float class="md-block">
                    <label >Số điện thoại</label>
                    <md-icon md-svg-src="resources/app/icon/phone-call.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="phone" ng-maxlength="11" ng-minlength="9" type="number" required ng-disabled="!vm.isUpdate" ng-model="vm.indexItem.numberPhone">
                    <span class="red-text" ng-show="updateForm.phone.$error.required && updateForm.phone.$touched">Đây là trường bắt buộc</span>
                    <span class="red-text" ng-show="(updateForm.phone.$error.minlength || updateForm.phone.$error.maxlength) && updateForm.phone.$touched">Số điện thoại phải lớn hơn 10 chữ số</span>
                </md-input-container>
                <md-input-container flex="45" class="md-icon-float md-block"  flex-offset="5">
                    <label >Email</label>
                    <md-icon md-svg-src="resources/app/icon/ic_email_white_48px.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="email" ng-disabled="!vm.isUpdate" type="email" ng-model="vm.indexItem.email">
                    <span class="red-text" ng-show="updateForm.email.$invalid  && updateForm.email.$touched">Email chưa đúng định dạng</span>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around start" layout-padding>
                <md-input-container flex="45" md-no-float class="md-block">
                    <label >Chức vụ</label>
                    <md-icon md-svg-src="resources/app/icon/group.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input ng-disabled="!vm.isUpdate" type="text" ng-model="vm.indexItem.work">
                </md-input-container>
                <md-input-container flex="45" md-no-float class="md-block"  flex-offset="5">
                    <label >Lương</label>
                    <md-icon md-svg-src="resources/app/icon/the-sum-of-mathematical-symbol.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input ng-disabled="!vm.isUpdate" type="number" ng-model="vm.indexItem.salary">
                </md-input-container>
            </div>
            <div flex="50">
                <md-input-container>
                    <label >Ngày vào làm</label>
                    <md-datepicker md-current-view="new Date('1-1-1990');" name="birthdate" md-open-on-focus ng-disabled="!vm.isUpdate" ng-model="vm.indexItem.startingDate"></md-datepicker>
                </md-input-container>
            </div>
        </md-content>
        <div layout="row" layout-align="center center">
            <md-button ng-hide="!vm.isUpdate" ng-disabled="updateForm.$invalid" ng-click="vm.updateMember(vm.indexItem)" class="md-raised md-primary">Lưu</md-button>
        </div>
    </form>
</md-sidenav>

<md-sidenav md-component-id="rightAdd" md-theme="green"
            class="md-whiteframe-z2 md-sidenav-right" layout-padding>
    <form name="newForm">
        <md-content layout="column" layout-align="start stretch">
            <div layout="row">
                <h2 style="color: #cc0000; text-align: center; text-shadow: 3px 3px 3px #DDDDDD;" flex="95">Thêm nhân viên</h2>
                <md-button ng-click="close()" class="md-icon-button" flex="5">
                    <md-icon md-svg-src="resources/app/icon/ic_close_black_64px.svg" aria-label="Alarm Icon"></md-icon>
                </md-button>
            </div>

            <div layout="row" layout-align="space-between start" layout-padding>
                <md-input-container flex="45">
                    <label>Họ tên</label>
                    <md-icon md-svg-src="resources/app/icon/avatar.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="name"  required type="text" ng-model="vm.newInfor.name">
                    <span class="red-text" ng-show="newForm.name.$error.required && newForm.name.$touched">Đây là trường bắt buộc</span>
                </md-input-container>
                <md-input-container  flex="50">
                    <label >Ngày vào làm</label>
                    <md-datepicker md-current-view="new Date();" name="startDate" md-open-on-focus ng-model="vm.newInfor.startingDate"></md-datepicker>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-between start" layout-padding>
                <md-input-container flex="45">
                    <label >Số CMND</label>
                    <md-icon md-svg-src="resources/app/icon/id-card.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="cmnd" type="number" ng-minlength="9" ng-maxlength="9" required  ng-model="vm.newInfor.id">
                    <span class="red-text" ng-show="newForm.cmnd.$error.required && newForm.cmnd.$touched">Đây là trường bắt buộc</span>
                    <span class="red-text" ng-show="(newForm.cmnd.$error.maxlength || newForm.cmnd.$error.minlength ) && newForm.cmnd.$touched">Chứng minh nhân dân phải gồm 9 chữ số</span>
                </md-input-container>
                <div flex="50">
                    <md-input-container>
                        <label >Ngày sinh</label>
                        <md-datepicker md-current-view="new Date();" name="birthdate" md-open-on-focus  ng-model="vm.newInfor.birthdate"></md-datepicker>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="space-around start">
                <md-radio-group  ng-model="vm.newInfor.gender" layout="row" style="margin-top: 30px;">
                    <md-icon md-svg-src="resources/app/icon/gender.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <label>Giới tính: </label>
                    <md-radio-button style="margin-left: 5px;" value="Nam">Nam</md-radio-button>
                    <md-radio-button value="Nu">Nữ</md-radio-button>
                </md-radio-group>
                <md-input-container flex="45">
                    <label >Địa chỉ</label>
                    <md-icon md-svg-src="resources/app/icon/location-pin.svg" style="color: #0066ff;"></md-icon>
                    <input  name="address" required type="text" ng-model="vm.newInfor.address">
                    <span class="red-text" ng-show="newForm.address.$error.required && newForm.address.$touched">Đây là trường bắt buộc</span>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around start" layout-padding>
                <md-input-container flex="45" md-no-float class="md-block">
                    <label >Số điện thoại</label>
                    <md-icon md-svg-src="resources/app/icon/phone-call.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="phone" ng-maxlength="12" ng-minlength="10" required type="number"  ng-model="vm.newInfor.numberPhone" required>
                    <span class="red-text" ng-show="newForm.phone.$error.required && newForm.phone.$touched">Đây là trường bắt buộc</span>
                    <span class="red-text" ng-show="(newForm.phone.$error.minlength || newForm.phone.$error.maxlength) && newForm.phone.$touched">Số điện thoại phải từ 10 đến 12 chữ số</span>
                </md-input-container>
                <md-input-container flex="45" class="md-icon-float md-block"  flex-offset="5">
                    <label >Email</label>
                    <md-icon md-svg-src="resources/app/icon/ic_email_white_48px.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="email" type="email" ng-model="vm.newInfor.email">
                    <span class="red-text" ng-show="newForm.email.$invalid && newForm.email.$touched">Email chưa đúng định dạng</span>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around start" layout-padding>
                <md-input-container flex="45" md-no-float class="md-block">
                    <label >Chức vụ</label>
                    <md-icon md-svg-src="resources/app/icon/group.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input required type="text" ng-model="vm.newInfor.work">
                </md-input-container>
                <md-input-container flex="45" md-no-float class="md-block"  flex-offset="5">
                    <label >Lương</label>
                    <md-icon md-svg-src="resources/app/icon/the-sum-of-mathematical-symbol.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input required type="number" ng-model="vm.newInfor.salary">
                </md-input-container>
            </div>

        </md-content>

        <div layout="row" layout-align="center center">
            <md-button ng-click="vm.addNewMember();" ng-disabled="!newForm.$valid" class="md-raised md-primary">Thêm</md-button>
        </div>
    </form>
</md-sidenav>