<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
            class="md-whiteframe-z2 md-sidenav-left" layout-padding>
    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2">
        <md-button layout="row" layout-align="center center" class="md-toolbar-tools md-warn"
                   href="#!/dashboard">
            <h1 class="capitalize-logo" style="font-size: 50px;">Hidro</h1>
        </md-button>
    </md-toolbar>
    <md-button ng-repeat-start="item in vm.menuItems" layout="column" layout-align="center center"
               flex class="capitalize" ng-click="vm.selectItem(item)"
               ui-sref-active="md-warn" ui-sref="{{item.sref}}">
        <div  class="md-tile-content">
            <md-icon md-svg-icon="{{item.icon}}"></md-icon>
        </div>
        <div class="md-tile-content">
            <b>{{item.name}}</b>
        </div>
    </md-button>
    <md-divider ng-repeat-end></md-divider>      
</md-sidenav>

<div layout="column" flex ng-init="vm.checkForLogin()">
    <md-toolbar layout="row" layout-align="end center">
        <section layout-align="start center" layout-fill flex>
            <md-button hide-gt-sm ng-click="vm.toggleItemsList()" aria-label="Menu">
                <md-icon md-svg-icon="resources/app/icon/ic_menu_white_48px.svg"></md-icon>
            </md-button>
        </section>
        <section layout-align="center center" flex>
            <h1>{{vm.name}}</h1>
        </section>
        <section layout-align="end center">            
            <md-menu md-offset="0 -7" md-position-mode="target-right target">
                <md-button aria-label="menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <md-icon md-menu-origin md-svg-icon="resources/app/icon/ic_person_pin_white_48px.svg"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="vm.showAdvanced($event);">                            
                            <span md-menu-align-target>{{vm.account.password}}</span> 
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button class="toolbar-button" aria-label="Settings" ng-click="vm.logout();">
                <md-icon md-svg-icon="resources/app/icon/ic_exit_to_app_white_48px.svg"></md-icon>
            </md-button>
        </section>
    </md-toolbar>

    <md-content flex class="md-padding page-content">
        <div ui-view></div>
    </md-content>
</div>
