<div class="table-responsive-vertical md-whiteframe-z1" ng-init="vm.autoLoad();">
    <md-toolbar flex layout-padding class="md-table-toolbar md-default">
        <div class="md-toolbar-tools" layout="row" layout-align="center center" md-theme="green">
            <md-input-container class="md-icon-float md-block table-tool" flex="30">
                <label >Nhập tài khoản hoặc tên thành viên</label>
                <md-icon md-svg-icon="resources/app/icon/ic_search_black_36px.svg"></md-icon>
                <input ng-model="vm.paramater">
            </md-input-container>
            <md-button class="md-raised md-warn capitalize md-hue" ng-click="vm.find(vm.paramater);" style="font-weight: bold;">Tìm Kiếm</md-button>
            <md-button class="md-raised md-primary capitalize" ng-click="vm.RightSidebarNewMember();" style="color: white; font-weight: bold;">Thêm Thành Viên</md-button>
        </div>
    </md-toolbar>   

    <md-table-container>
        <table md-table multiple ng-model="selected">
            <thead md-head md-order="query.order" column-definition>
            <tr md-row >
                <th md-column><span>Tên đăng nhập</span></th>
                <th md-column ><span>Họ tên</span></th>
                <th md-column>Loại thành viên</th>
                <th md-column>Số điện thoai</th>
                <th md-column>Chi tiết</th>
                <th md-column>Xóa</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select-id="name" ng-class="getwhiteframeTable($index)" md-auto-select
                ng-repeat="dessert in vm.findResults | limitTo: query.limit: (query.page - 1) * query.limit"
                ng-mouseenter="vm.setWhiteframeTable('md-whiteframe-3dp page-content', $index);" ng-mouseleave="vm.setWhiteframeTable('', $index);">
                <td md-cell>{{dessert.username}}</td>
                <td md-cell>{{dessert.name}}</td>
                <td md-cell>{{dessert.typeOfMember}}</td>
                <td md-cell>{{dessert.numberPhone}}</td>
                <td md-cell>
                    <md-button  class="md-fab md-mini" aria-label="More" ng-click="vm.toggleRightSidebar($index);">
                    <md-icon md-svg-src="resources/app/icon/ic_more_horiz_white_36px.svg" style="color: activeborder;"></md-icon>
                    </md-button>
                </td>
                <td md-cell>
                    <md-button class="md-fab md-mini" aria-label="More" ng-click="vm.deleteMember($index);">
                        <md-icon md-svg-src="resources/app/icon/ic_delete_white_36px.svg" style="color: activeborder;"></md-icon>
                    </md-button>
                </td>
            </tr>
            <tr ng-show="vm.notFind">
                <td colspan="6" style="text-align: center;">Không tìm thấy kết quả</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{vm.findResults.length}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
</div>

<md-sidenav md-component-id="right" md-theme="green"
            class="md-whiteframe-z2 md-sidenav-right" layout-padding>
    <form name="updateForm">
    <md-content layout="column" layout-align="start stretch">
        <div layout="row">
            <h2 style="color: #cc0000; text-align: center; text-shadow: 3px 3px 3px #DDDDDD;" flex="95">Thông tin thành viên</h2>
            <md-button ng-click="close()" class="md-icon-button" flex="5">
                <md-icon md-svg-src="resources/app/icon/ic_close_black_64px.svg" aria-label="Alarm Icon"></md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="center center">
            <md-switch ng-model="vm.isUpdate" aria-label="update" md-invert>
                Thay đổi
            </md-switch>
        </div>

        <div layout="row" layout-align="space-around start" layout-padding>
            <md-input-container flex="45">
                <label>Họ tên</label>
                <md-icon md-svg-src="resources/app/icon/avatar.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                <input name="name" ng-disabled="!vm.isUpdate" required type="text" ng-model="vm.indexItem.name">
                <span class="red-text" ng-show="updateForm.name.$error.required && updateForm.name.$touched">Đây là trường bắt buộc</span>
            </md-input-container>
            <md-input-container flex-offset="5" flex="45">
                <label >Tên đăng nhập</label>
                <md-icon md-svg-src="resources/app/icon/account.svg" style="color: #0066ff;"></md-icon>
                <input name="username" ng-disabled="true" ng-minlength="8" required type="text" ng-model="vm.indexItem.username">
            </md-input-container>
        </div>        
        <div layout="row" layout-align="space-between start" layout-padding>
            <md-input-container flex="45">
                <label >Số CMND</label>
                <md-icon md-svg-src="resources/app/icon/id-card.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                <input name="cmnd" ng-disabled="!vm.isUpdate" type="number" ng-minlength="9" ng-maxlength="9" required  ng-model="vm.indexItem.id">
                <span class="red-text" ng-show="updateForm.cmnd.$error.required && updateForm.cmnd.$touched">Đây là trường bắt buộc</span>
                <span class="red-text" ng-show="(updateForm.cmnd.$error.maxlength || updateForm.cmnd.$error.minlength ) && newForm.cmnd.$touched">Chứng minh nhân dân phải gồm 9 chữ số</span>
            </md-input-container>
            <div flex="50">
                <md-input-container>
                    <label >Ngày sinh</label>
                    <md-datepicker md-current-view="new Date('1-1-1990');" name="birthdate" md-open-on-focus ng-disabled="!vm.isUpdate" ng-model="vm.indexItem.birthdate"></md-datepicker>
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-align="space-around start">
            <md-radio-group ng-disabled="!vm.isUpdate" ng-model="vm.indexItem.gender" layout="row" style="margin-top: 30px;">
                <md-icon md-svg-src="resources/app/icon/gender.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                <label>Giới tính: </label>
                <md-radio-button style="margin-left: 5px;" value="Nam">Nam</md-radio-button>
                <md-radio-button value="Nu">Nữ</md-radio-button>
            </md-radio-group>
            <md-input-container flex="45">
                <label >Địa chỉ</label>
                <md-icon md-svg-src="resources/app/icon/location-pin.svg" style="color: #0066ff;"></md-icon>
                <input ng-disabled="!vm.isUpdate" name="address" required type="text" ng-model="vm.indexItem.address">
                <span class="red-text" ng-show="updateForm.address.$error.required && updateForm.address.$touched">Đây là trường bắt buộc</span>
            </md-input-container>
        </div>
        <div layout="row" layout-align="space-around start" layout-padding>
            <md-input-container flex="45" md-no-float class="md-block">
                <label >Số điện thoại</label>
                <md-icon md-svg-src="resources/app/icon/phone-call.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                <input name="phone" ng-maxlength="11" ng-minlength="10" type="number" required ng-disabled="!vm.isUpdate" ng-model="vm.indexItem.numberPhone">
                <span class="red-text" ng-show="updateForm.phone.$error.required && updateForm.phone.$touched">Đây là trường bắt buộc</span>
                <span class="red-text" ng-show="(updateForm.phone.$error.minlength || updateForm.phone.$error.maxlength) && updateForm.phone.$touched">Số điện thoại phải lớn hơn 10 chữ số</span>
            </md-input-container>
            <md-input-container flex="45" class="md-icon-float md-block"  flex-offset="5">
                <label >Email</label>
                <md-icon md-svg-src="resources/app/icon/ic_email_white_48px.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                <input name="email" ng-disabled="!vm.isUpdate" type="email" ng-model="vm.indexItem.email">
                <span class="red-text" ng-show="updateForm.email.$invalid  && updateForm.email.$touched">Email chưa đúng định dạng</span>
            </md-input-container>
        </div>
        <div layout="row" layout-align="space-around start" layout-padding>
            <md-input-container flex="45" md-no-float class="md-block">
                    <label >Loại thành viên</label>
                    <md-icon md-svg-src="resources/app/icon/group.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <md-select ng-disabled="!vm.isUpdate" ng-model="vm.indexItem.typeOfMember">
                        <md-option ng-repeat="type in vm.selectTypeOfMember" ng-value="type.typeOfMember">{{type.typeOfMember}}</md-option>
                    </md-select>
                </md-input-container>
            <md-input-container flex="45" md-no-float class="md-block"  flex-offset="5">
                <label >Tổng giờ đã sử dụng</label>
                <md-icon md-svg-src="resources/app/icon/the-sum-of-mathematical-symbol.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                <input ng-disabled="!vm.isUpdate" type="number" ng-model="vm.indexItem.totalHours">
            </md-input-container>
        </div>
        <div layout="row" layout-align="space-around start" layout-padding>
            <md-input-container flex="45" md-no-float class="md-block">
                <label >Tổng hóa đơn đã sử dụng</label>
                <md-icon md-svg-src="resources/app/icon/money.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                <input ng-disabled="!vm.isUpdate" type="number" ng-model="vm.indexItem.totalPayments">
            </md-input-container>
            <md-input-container flex="45" md-no-float class="md-block">
                <label >Ngày tham gia</label>                
                <md-datepicker md-open-on-focus ng-disabled="!vm.isUpdate" ng-model="vm.indexItem.lastOrderDate"></md-datepicker>
            </md-input-container>
        </div>

    </md-content>
    <div layout="row" layout-align="center center">
        <md-button ng-hide="!vm.isUpdate" ng-disabled="!updateForm.$invalid" ng-click="vm.updateMember(vm.indexItem)" class="md-raised md-primary">Lưu</md-button>
    </div>
    </form>
</md-sidenav>

<md-sidenav md-component-id="rightAdd" md-theme="green"
            class="md-whiteframe-z2 md-sidenav-right" layout-padding>
    <form name="newForm">
        <md-content layout="column" layout-align="start stretch">
            <div layout="row">
                <h2 style="color: #cc0000; text-align: center; text-shadow: 3px 3px 3px #DDDDDD;" flex="95">Thêm thành viên</h2>
                <md-button ng-click="close()" class="md-icon-button" flex="5">
                    <md-icon md-svg-src="resources/app/icon/ic_close_black_64px.svg" aria-label="Alarm Icon"></md-icon>
                </md-button>
            </div>

            <div layout="row" layout-align="space-around start" layout-padding>
                <md-input-container flex="45">
                    <label>Họ tên</label>
                    <md-icon md-svg-src="resources/app/icon/avatar.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="name"  required type="text" ng-model="vm.newInfor.name">
                    <span class="red-text" ng-show="newForm.name.$error.required && newForm.name.$touched">Đây là trường bắt buộc</span>
                </md-input-container>
                <md-input-container flex-offset="5" flex="40">
                    <label >Tên đăng nhập</label>
                    <md-icon md-svg-src="resources/app/icon/account.svg" style="color: #0066ff;"></md-icon>
                    <input name="username"  ng-minlength="8" required type="text" ng-model="vm.newInfor.username">
                    <span class="red-text" ng-show="newForm.username.$error.required && newForm.username.$touched">Đây là trường bắt buộc</span>
                    <span class="red-text" ng-show="newForm.username.$error.minlength && newForm.username.$touched">Độ dài phải lớn hơn 8 ký tự</span>
                    <span class="red-text" ng-show="vm.showErrorIsExist">Tài khoản đã tồn tại</span>
                    <span class="red-text" ng-show="vm.showErrorBlank">Tài khoản không được có khoảng trống</span>
                    <span style="color: #2ca02c;" ng-show="vm.showAccountUsed && newForm.username.$touched">Tài khoản có thể sử dụng</span>
                </md-input-container>
                <md-button style="margin-top: 20px;" class="md-icon-button" ng-click="vm.checkUsernameExist()">
                    <md-icon md-svg-src="resources/app/icon/ic_sync_white_24px.svg" style="color: #7A7A7A;"></md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="space-around start" layout-padding>
                <md-input-container flex="45">
                    <label>Mật khẩu</label>
                    <md-icon md-svg-src="resources/app/icon/key.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="password" ng-minlength="8"  required type="password" ng-model="vm.newInfor.password">
                    <span class="red-text" ng-show="newForm.password.$error.required && newForm.password.$touched">Đây là trường bắt buộc</span>
                </md-input-container>
                <md-input-container flex-offset="5" flex="45">
                    <label >Nhập lại mật khẩu</label>
                    <md-icon md-svg-src="resources/app/icon/rekey.svg" style="color: #0066ff;"></md-icon>
                    <input name="repassword"  ng-minlength="8" required type="password"  ng-model="vm.newInfor.repassword">
                    <span class="red-text" ng-show="newForm.repassword.$error.required && newForm.repassword.$touched">Đây là trường bắt buộc</span>
                    <span class="red-text" ng-show="newForm.repassword.$error.minlength && newForm.repassword.$touched">Độ dài phải lớn hơn 8 ký tự</span>
                    <span class="red-text" ng-show="vm.falsePassword">Nhập lại mật khẩu chưa đúng</span>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-between start" layout-padding>
                <md-input-container flex="45">
                    <label >Số CMND</label>
                    <md-icon md-svg-src="resources/app/icon/id-card.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="cmnd" type="number" ng-minlength="9" ng-maxlength="9" required  ng-model="vm.newInfor.id">
                    <span class="red-text" ng-show="newForm.cmnd.$error.required && newForm.cmnd.$touched">Đây là trường bắt buộc</span>
                    <span class="red-text" ng-show="(newForm.cmnd.$error.maxlength || newForm.cmnd.$error.minlength ) && newForm.cmnd.$touched">Chứng minh nhân dân phải gồm 9 chữ số</span>
                </md-input-container>
                <div flex="50">
                    <md-input-container>
                        <label >Ngày sinh</label>
                        <md-datepicker md-current-view="new Date('1-1-1990');" name="birthdate" md-open-on-focus  ng-model="vm.newInfor.birthdate"></md-datepicker>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="space-around start">
                <md-radio-group  ng-model="vm.newInfor.gender" layout="row" style="margin-top: 30px;">
                    <md-icon md-svg-src="resources/app/icon/gender.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <label>Giới tính: </label>
                    <md-radio-button style="margin-left: 5px;" value="Nam">Nam</md-radio-button>
                    <md-radio-button value="Nu">Nữ</md-radio-button>
                </md-radio-group>
                <md-input-container flex="45">
                    <label >Địa chỉ</label>
                    <md-icon md-svg-src="resources/app/icon/location-pin.svg" style="color: #0066ff;"></md-icon>
                    <input  name="address" required type="text" ng-model="vm.newInfor.address">
                    <span class="red-text" ng-show="newForm.address.$error.required && newForm.address.$touched">Đây là trường bắt buộc</span>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around start" layout-padding>
                <md-input-container flex="45" md-no-float class="md-block">
                    <label >Số điện thoại</label>
                    <md-icon md-svg-src="resources/app/icon/phone-call.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="phone" ng-maxlength="12" ng-minlength="10" required type="number"  ng-model="vm.newInfor.numberPhone" required>
                    <span class="red-text" ng-show="newForm.phone.$error.required && newForm.phone.$touched">Đây là trường bắt buộc</span>
                    <span class="red-text" ng-show="(newForm.phone.$error.minlength || newForm.phone.$error.maxlength) && newForm.phone.$touched">Số điện thoại phải từ 10 đến 12 chữ số</span>
                </md-input-container>
                <md-input-container flex="45" class="md-icon-float md-block"  flex-offset="5">
                    <label >Email</label>
                    <md-icon md-svg-src="resources/app/icon/ic_email_white_48px.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input name="email" type="email" ng-model="vm.newInfor.email">
                    <span class="red-text" ng-show="newForm.email.$invalid && newForm.email.$touched">Email chưa đúng định dạng</span>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around start" layout-padding>
                <md-input-container flex="45" md-no-float class="md-block">
                    <label >Loại thành viên</label>
                    <md-icon md-svg-src="resources/app/icon/group.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <md-select  ng-model="vm.newInfor.typeOfMember">
                        <md-option ng-repeat="type in vm.selectTypeOfMember" ng-value="type.typeOfMember">{{type.typeOfMember}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="45" md-no-float class="md-block"  flex-offset="5">
                    <label >Tổng giờ đã sử dụng</label>
                    <md-icon md-svg-src="resources/app/icon/the-sum-of-mathematical-symbol.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input ng-disabled="true" type="number" ng-model="vm.newInfor.totalHours">
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around start" layout-padding>
                <md-input-container flex="45" md-no-float class="md-block">
                    <label >Tổng hóa đơn đã sử dụng</label>
                    <md-icon md-svg-src="resources/app/icon/money.svg" aria-label="Alarm Icon" style="color: #0066ff;"></md-icon>
                    <input ng-disabled="true" type="number" ng-model="vm.newInfor.totalPayments">
                </md-input-container>
                <md-input-container flex="45" md-no-float class="md-block">
                    <label >Ngày tham gia</label>
                    <md-datepicker md-open-on-focus ng-disabled="true" ng-model="vm.newInfor.lastOrderDate"></md-datepicker>
                </md-input-container>
            </div>

        </md-content>
    
    <div layout="row" layout-align="center center">
        <md-button ng-click="vm.addNewMember();" ng-disabled="!newForm.$valid || !vm.showAccountUsed" class="md-raised md-primary">Thêm</md-button>
    </div>
    </form>
</md-sidenav>