<div class="md-whiteframe-z1" ng-init="vm.deleteReservationOld();" layout="column" layout-align="center center" flex="100">
    <div style="height: 15px;"></div>
    <div style="text-align: center; font-size: 30px; font-weight: bold; text-shadow: white 1px 1px;">Quản lý đặt sân</div>
    <div style="height: 15px;"></div>
    <div layout="row" layout-align="space-around center" flex="80" layout-margin>
        <md-button class="md-raised md-primary" ng-click="vm.showAdvanced($event)">Hướng dẫn</md-button>
    </div>

    <div layout="row" layout-align="start center" layout-wrap style="margin-top: 5px;">
        <div layout="column" flex-offset="5" ng-repeat="reservation in vm.reservation  | orderBy:'fields'">
            <div layout="column" layout-align="space-around center" class="football">
                <div class="football_title">
                    {{$index}}
                </div>
                <div style=" margin-right: 5px;">
                    <md-button class="football_button md-icon-button" ng-click="vm.showConfirm($event, $index);">
                        <md-icon md-svg-src="{{vm.setButton(reservation.status);}}"
                                 class="football_icon {{vm.setColor(reservation.status);}}"></md-icon>
                    </md-button>
                    <div layout="row" layout-align="center center" class="football_time">
                        <!--<span>{{Math.floor(reservation.timeline / 3600)}}</span>-->
                        <!--<span>{{Math.floor((reservation.timeline - Math.floor(reservation.timeline / 3600)) / 60)}}</span>-->
                        <span>{{vm.computeHour(reservation.timeline, 'hour')}}:</span>
                        <span>{{vm.computeHour(reservation.timeline, 'minute')}}:</span>
                        <span>{{vm.computeHour(reservation.timeline, 'second')}}</span>
                    </div>
                </div>
            </div>
            <div style="font-size: 15px; text-align: center; font-family: Cambria;">
                <div > Bắt đầu: <span style="font-weight: bold;"> {{reservation.startTime.slice(0,5)}}</span></div>
                <div > Kết thúc:  <span style="font-weight: bold;"> {{reservation.endTime.slice(0,5)}}</span></div>
                <div style="font-weight: bold;">{{(reservation.name == 'none')?'':reservation.name}}</div>
            </div>
        </div>
    </div>
</div>