<md-dialog class="compose-dialog" aria-label="Đổi mật khẩu" flex="70">
  <form class="md-inline-form" >
  <md-toolbar ng-style="{'background-color': '#006F65','border-color': '#006F65','color': '#ffffff'}">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span class="h2" translate="Đổi mật khẩu"></span>
    </div>
  </md-toolbar>

  <md-dialog-content ms-scroll>
    <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
      <!-- OLD PASSWORD -->
      <md-input-container class="md-block">
        <input type="password" name="oldPassword" ng-model="cp.dataChange.oldPassword"
               placeholder="Nhập mật khẩu cũ" ng-minlength="6" ng-maxlength="30"
               required>
        <div ng-messages="wizardStep1.oldPassword.$error"
             role="alert">
          <div ng-message="required">
            <span>{{cp.changePass.requiredPassword}}</span>
          </div>
          <div ng-message="minlength">
            <span>{{cp.changePass.requiredPassword}}</span>
          </div>
          <div ng-message="maxlength">
            <span>{{cp.changePass.requiredPassword}}</span>
          </div>
        </div>
      </md-input-container>
      <!-- / OLD PASSWORD -->

      <!-- NEW PASSWORD -->
      <md-input-container class="md-block">
        <input type="password" name="newPassword" ng-model="cp.dataChange.newPassword"
               placeholder="Nhập mật khẩu mới" ng-minlength="6" ng-maxlength="30"
               required>
        <div ng-messages="wizardStep1.newPassword.$error"
             role="alert">
          <div ng-message="required">
            <span>{{cp.changePass.requiredPassword}}</span>
          </div>
          <div ng-message="minlength">
            <span>{{cp.changePass.requiredPassword}}</span>
          </div>
          <div ng-message="maxlength">
            <span>{{cp.changePass.requiredPassword}}</span>
          </div>
        </div>
      </md-input-container>
      <!-- / NEW PASSWORD -->

      <!-- PASSWORD CONFIRM -->
      <md-input-container class="md-block">
        <input type="password" name="passwordConfirm"
               ng-model="cp.pass"
               placeholder="Xác nhận mật khẩu"
               ng-pattern="cp.dataChange.newPassword"
               required>
        <div ng-messages="wizardStep1.passwordConfirm.$error"
             role="alert">
          <div ng-message="required">
            <span>{{cp.changePass.requiredPassword}}</span>
          </div>
          <div ng-message="pattern">
            <span>{{cp.changePass.requiredAgain}}</span>
          </div>
        </div>
      </md-input-container>
      <!-- / PASSWORD CONFIRM -->
    </form>
    <span class="h3" ng-style="{'color':'#D50000'}">{{cp.dataResult.result}}</span>
    </md-dialog-content>
    <md-dialog-content>
      <div layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-button ng-style="{'background-color': '#006F65','border-color': '#006F65','color': '#ffffff'}" ng-click="cp.changePasswordAccount()" >{{cp.changePass.buttonChange}}</md-button>

          <md-button ng-style="{'background-color': '#006F65','border-color': '#006F65','color': '#ffffff'}" ng-click="cp.closeDialog()">{{cp.changePass.buttonCancel}}</md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
