<!-- CENTER -->
<div class="center" flex>
  <!-- CONTENT -->
  <div id="invoice" class="page-layout blank" layout="row" ms-scroll>
    <div class="invoice-container">

      <!-- CONTACT -->
      <div class="card md-whiteframe-8dp">
        <div class="headers" layout="row" layout-align="space-between start">
          <div class="ids" layout="column">
            <div layout="row" class="seller" layout-align="start center">
              <div class="logo md-accent-bg" layout="row" layout-align="center center">
                <div>H</div>
              </div>

              <div class="divider"></div>

              <div class="detail">
                <div class="title">{{vm.dataContact.from.title}}</div>
                <div ng-if="vm.dataContact.from.address" class="address">{{vm.dataContact.from.address}}</div>
                <div ng-if="vm.dataContact.from.phone" class="phone"><span
                  translate="INVOICE.PHONE">Phone</span>:
                  {{vm.dataContact.from.phone}}
                </div>
                <div ng-if="vm.dataContact.from.email" class="email"><span
                  translate="INVOICE.EMAIL">Email</span>:
                  {{vm.dataContact.from.email}}
                </div>
                <div ng-if="vm.dataContact.from.website" class="website"><span
                  translate="INVOICE.WEB">Web</span>:
                  {{vm.dataContact.from.website}}
                </div>
              </div>
            </div>

            <div layout="row" class="client" layout-align="start center">
              <div class="label" layout="row" layout-align="end center">
                <div translate="INVOICE.CLIENT">CLIENT</div>
              </div>

              <div class="divider"></div>

              <div class="detail">
                <div class="title">{{vm.dataContact.client1.title}}</div>
                <div ng-if="vm.dataContact.client1.address" class="address">{{vm.dataContact.client1.address}}</div>
                <div ng-if="vm.dataContact.client1.phone" class="phone"><span
                  translate="INVOICE.PHONE">Phone</span>:
                  {{vm.dataContact.client1.phone}}
                </div>
                <div ng-if="vm.dataContact.client.email" class="email"><span
                  translate="INVOICE.EMAIL">Email</span>:
                  {{vm.dataContact.client1.email}}
                </div>
                <div ng-if="vm.dataContact.client.website" class="website"><span
                  translate="INVOICE.WEB">Web</span>:
                  {{vm.dataContact.client1.website}}
                </div>
              </div>
            </div>

            <div layout="row" class="client" style="padding-top: 5%;" layout-align="start center">
              <div class="label" layout="row" layout-align="end center">
                <div translate="INVOICE.CLIENT">CLIENT</div>
              </div>

              <div class="divider"></div>

              <div class="detail">
                <div class="title">{{vm.dataContact.client2.title}}</div>
                <div ng-if="vm.dataContact.client2.address" class="address">{{vm.dataContact.client2.address}}</div>
                <div ng-if="vm.dataContact.client2.phone" class="phone"><span
                  translate="INVOICE.PHONE">Phone</span>:
                  {{vm.dataContact.client2.phone}}
                </div>
                <div ng-if="vm.dataContact.client2.email" class="email"><span
                  translate="INVOICE.EMAIL">Email</span>:
                  {{vm.dataContact.client2.email}}
                </div>
                <div ng-if="vm.dataContact.client2.website" class="website"><span
                  translate="INVOICE.WEB">Web</span>:
                  {{vm.dataContact.client2.website}}
                </div>
              </div>
            </div>
          </div>

          <table class="summary">
            <tr class="code">
              <td class="label" translate="INVOICE.INVOICE">INVOICE</td>
              <td class="value">{{vm.dataContact.number}}</td>
            </tr>

            <tr>
              <td class="label" translate="INVOICE.INVOICE_DATE">INVOICE DATE</td>
              <td class="value">{{vm.dataContact.date}}</td>
            </tr>
          </table>
        </div>

        <div class="content"></div>

        <div class="footer">
          <div class="note" translate="INVOICE.NOTE"></div>
          <div layout="row" layout-align="start start">
            <div class="logo md-accent-bg" layout="row" layout-align="center center">
              <div>H</div>
            </div>
            <div class="small-note" translate="INVOICE.SMALL_NOTE">
            </div>
          </div>
        </div>
      </div>
      <!-- / CONTACT -->

      <div class="page-break"></div>

    </div>
  </div>
  <!-- / CONTENT -->

</div>
<!-- / CENTER -->
