<!-- WIDGET GROUP -->
<div class="widget-group">

  <!-- NOW WIDGET -->
  <ms-widget flippable="false" class="sidenav-widget">

    <!-- Front -->
    <ms-widget-front>

      <div class="pl-16 pr-8 pv-16" layout="row" layout-align="space-between center">
        <div class="h3">{{vm.nowWidget.now.weekDay}},
          {{vm.nowWidget.now.hour}}:{{vm.nowWidget.now.minute}}:{{vm.nowWidget.now.second}}
        </div>

        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu()" md-menu-origin
                     md-menu-align-target
                     aria-label="Options">
            <md-icon md-font-icon="icon-dots-vertical" class="icon"></md-icon>
          </md-button>

          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="vm.nowWidget.dummyFunction()">
                <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                {{vm.widget3.details}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.nowWidget.dummyFunction()">
                <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                {{vm.widget3.refresh}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="p-16 pb-24" layout="column" layout-align="center center">
        <div class="h1 secondary-text">
          <span>{{vm.nowWidget.now.month}}</span>
        </div>

        <div class="font-size-72 line-height-88 secondary-text font-weight-400">
          {{vm.nowWidget.now.day}}
        </div>

        <div class="h1 secondary-text">
          <span>{{vm.nowWidget.now.year}}</span>
        </div>
      </div>

      <md-divider></md-divider>

    </ms-widget-front>
    <!-- / Front -->

  </ms-widget>
  <!-- / NOW WIDGET -->


  <!-- WEATHER WIDGET -->
  <ms-widget flippable="false" class="sidenav-widget">

    <!-- Front -->
    <ms-widget-front>

      <div class="pl-16 pr-8 pv-16" layout="row" layout-align="space-between center">
        <div class="h4">
          <md-icon md-font-icon="icon-map-marker" class="icon mr-8"></md-icon>
          {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].name}}
        </div>

        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu()" md-menu-origin
                     md-menu-align-target
                     aria-label="Options">
            <md-icon md-font-icon="icon-dots-vertical" class="icon"></md-icon>
          </md-button>

          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="vm.nowWidget.dummyFunction()">
                <md-icon md-font-icon="icon-file-document" class="icon"></md-icon>
                {{vm.widget3.details}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.nowWidget.dummyFunction()">
                <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                {{vm.widget3.refresh}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="p-16 pb-32" layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-icon
            md-font-icon="{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].icon}}"
            class="icon s40 mr-16"></md-icon>
          <span class="md-display-2 font-weight-300 secondary-text">
                                {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].temp[vm.weatherWidget.tempUnit]}}
                            </span>
          <span class="font-size-48 font-weight-300 hint-text text-super ml-8">&deg;</span>
          <span class="md-display-2 font-weight-300 hint-text">{{vm.weatherWidget.tempUnit}}</span>
        </div>
      </div>

      <div class="grey-300-bg p-16" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-weather-windy" class="icon mr-8 s20"></md-icon>
          <span>
                                {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].windSpeed[vm.weatherWidget.speedUnit]}}
                            </span>
          <span class="secondary-text ml-5">{{vm.weatherWidget.speedUnit}}</span>
        </div>

        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-compass-outline" class="icon mr-8 s20"></md-icon>
          <span>{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].windDirection}}</span>
        </div>

        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-umbrella" class="icon mr-8 s20"></md-icon>
          <span>{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].rainProbability}}</span>
        </div>
      </div>

      <div class="pv-16">
        <div class="pv-16 ph-24" layout="row" layout-align="space-between center"
             ng-repeat="day in vm.weatherWidget.locations[vm.weatherWidget.currentLocation].next3Days">
          <span class="h4">{{day.name}}</span>
          <div layout="row" layout-align="start center">
            <md-icon class="mr-16" md-font-icon="{{day.icon}}" class="icon"></md-icon>
            <span class="h2">{{day.temp[vm.weatherWidget.tempUnit]}}</span>
            <span class="h2 font-weight-300 secondary-text text-super">&deg;</span>
            <span class="h2 font-weight-300 secondary-text">{{vm.weatherWidget.tempUnit}}</span>
          </div>
        </div>
      </div>

      <md-divider></md-divider>

    </ms-widget-front>
    <!-- / Front -->

  </ms-widget>
  <!-- / WEATHER WIDGET -->

</div>
<!-- / WIDGET GROUP -->
