<div class="template-4">
    <div class="info white-fg ph-16 pv-24">
        <div class="title h1" ng-if="card.title">
            {{card.title}}
        </div>

        <div class="text" ng-if="card.text">
            {{card.text}}
        </div>
    </div>

    <div class="media" layout="column" flex="100" flex-gt-xs="100" flex-gt-md="100">
        <img class="image" ng-src="{{card.media.image.src}}" alt="{{card.media.image.alt}}" ng-show="card.media.image">
    </div>
</div>
