<md-dialog class="compose-dialog" aria-label="Đăng xuất">
  <form class="md-inline-form">
    <md-toolbar ng-style="{'background-color': '#006F65','border-color': '#006F65','color': '#ffffff'}">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="h2" translate="Đăng xuất"></span>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <span class="h3">{{dataDialog.dialogQuestion}}</span>
    </md-dialog-content>
    <md-dialog-content>
      <div layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-button ng-style="{'background-color': '#006F65','border-color': '#006F65','color': '#ffffff'}" ng-click="logout()" >{{dataDialog.dialogAgree}}</md-button>

          <md-button ng-style="{'background-color': '#006F65','border-color': '#006F65','color': '#ffffff'}" ng-click="closeDialog()">{{dataDialog.dialogCancel}}</md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
