<md-dialog class="compose-dialog" aria-label="Đăng nhập">
  <form class="md-inline-form">
    <md-toolbar ng-style="{'background-color': '#006F65','border-color': '#006F65','color': '#ffffff'}">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="h2" translate="Đăng nhập"></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                   translate-aria-label="MAIL.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
      <md-input-container class="md-block">
        <label translate="Tên đăng nhập"></label>
        <input name="username" ng-model="vm.parameter.username" type="text" ng-click="vm.flagLogin = false;" required>
        <div ng-messages="wizardStep1.username.$error"
             role="alert">
          <div ng-message="required">
            <span>{{vm.login.requiredUsername}}</span>
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <input type="password" name="password" ng-model="vm.parameter.password"
               placeholder="Mật khẩu" ng-click="vm.flagLogin = false;"
               required>
        <div ng-messages="wizardStep1.password.$error"
             role="alert">
          <div ng-message="required">
            <span>{{vm.login.requiredPassword}}</span>
          </div>
        </div>
      </md-input-container>
      </form>
      <p class="h3" ng-style="{'color':'#D50000'}" ng-show="vm.flagLogin">{{vm.contentErrorLogin}}</p>
    </md-dialog-content>
    <md-dialog-content>
      <div layout="column" layout-align="center center">
        <div>
          <md-button ng-style="{'color': '#006F65'}" ng-click="vm.dialogForgotPassword($event)">{{vm.login.forget}}</md-button>
        </div>
        <div layout="row" layout-align="center center">
          <md-button ng-style="{'background-color': '#006F65','color': '#ffffff'}" ng-click="vm.loginAccount()" >{{vm.login.buttonLogin}}</md-button>

          <md-button ng-style="{'background-color': '#006F65','color': '#ffffff'}" ng-click="vm.closeDialog()">{{vm.login.buttonCancel}}</md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
