<div id="dashboard-project" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll ng-init="vm.checkMember();"><!-- ng-init="vm.checkMember();"-->

      <!-- HEADER -->
      <div class="header md-accent-bg" layout="column" layout-align="space-between">
        <div layout="row" layout-align="center center">
          <div>
            <span class="md-display-1 font-weight-150">{{vm.selectedProject.title1}} - </span>
            <span class="md-display-1 font-weight-100"><i>{{vm.selectedProject.title2}}</i></span>
          </div>
        </div>

        <div layout="row">
          <div class="selected-project">{{vm.selectedProject.name}}</div>
        </div>
      </div>
      <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab label={{vm.selectedProject.main}} ng-click="vm.checkMember();">
                  <div ng-include="'app/main/apps/dashboards/project/main_page/main_page.html'"></div>
                </md-tab>

                <md-tab label={{vm.selectedProject.bookingSchedule}} ng-click="vm.getReservation();">
                  <div ng-include="'app/main/apps/dashboards/project/booking_schedule/booking_schedule.html'"></div>
                </md-tab>

                <md-tab label={{vm.selectedProject.rentFootball}} ng-click="vm.getClubForId()">
                  <div ng-include="'app/main/apps/dashboards/project/rent_football/rent_football.html'"></div>
                </md-tab>
                <md-tab label={{vm.selectedProject.information}}>
                  <div ng-include="'app/main/apps/dashboards/project/information/information.html'"></div>
                </md-tab>
                <md-tab label={{vm.selectedProject.contact}}>
                  <div ng-include="'app/main/apps/dashboards/project/contact/contact.html'"></div>
                </md-tab>
            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav"
                ms-scroll ms-sidenav-helper>
      <div ng-include="'app/main/apps/dashboards/project/sidenav/sidenav.html'"></div>
    </md-sidenav>
    <!-- / SIDENAV -->

</div>
