<!-- WIDGET GROUP -->
<div class="widget-group" layout="row" flex="100" layout-wrap>

    <!-- / WIDGET FIELD_5x5 -->
    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">

      <!-- Front -->
      <ms-widget-front class="white-bg">
        <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
          <div class="h3">{{vm.widget2.title}}</div>

          <md-menu>
            <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                       aria-label="more">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>

            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                  <md-icon md-font-icon="icon-file-document" class="icon"></md-icon>
                  {{vm.widget2.details}}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.getFieldEmpty();" aria-label="Refresh widget">
                  <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                  {{vm.widget2.refresh}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>

        <div class="pt-8 pb-32" layout="column" layout-align="center center" >
          <div class="blue-fg font-size-72 line-height-72">
            {{vm.field5x5.sum}}
          </div>
          <div class="h2 secondary-text font-weight-500">{{vm.field5x5.typeOfField}}</div>
        </div>

        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
          <span class="h4 secondary-text text-truncate"></span>
          <span class="h4 ml-8"></span>
        </div>
      </ms-widget-front>
      <!-- / Front -->

      <!-- Back -->
      <ms-widget-back class="p-16 white-bg">
        <div class="flip-to-front">
          <md-button class="md-icon-button" ng-click="flipWidget()"
                     aria-label="Flip widget">
            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
          </md-button>
        </div>

        <div class="pt-16 h3">
          {{vm.widget2.detail}}
        </div>
      </ms-widget-back>
      <!-- / Back -->

    </ms-widget>
    <!-- / WIDGET FIELD_5x5 -->


  <!-- WIDGET FIELD_7x7 -->
  <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">

    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
        <div class="h3">{{vm.widget3.title}}</div>

        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                     aria-label="more">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>

          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="flipWidget()" aria-label="Flip widget">
                <md-icon md-font-icon="icon-file-document" class="icon"></md-icon>
                {{vm.widget3.details}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.getFieldEmpty();" aria-label="Refresh widget">
                <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                {{vm.widget3.refresh}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="pt-8 pb-32" layout="column" layout-align="center center">
        <div class="orange-fg font-size-72 line-height-72">
          {{vm.field7x7.sum}}
        </div>
        <div class="h2 secondary-text font-weight-500">{{vm.field7x7.typeOfField}}</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h4 secondary-text text-truncate"></span>
        <span class="h4 ml-8"></span>
      </div>
    </ms-widget-front>
    <!-- / Front -->

    <!-- Back -->
    <ms-widget-back class="p-16 white-bg">
      <div class="flip-to-front">
        <md-button class="md-icon-button" ng-click="flipWidget()"
                   aria-label="Flip widget">
          <md-icon md-font-icon="icon-close" class="s16"></md-icon>
        </md-button>
      </div>

      <div class="pt-16 h3">
        {{vm.widget3.detail}}
      </div>
    </ms-widget-back>
    <!-- / Back -->

  </ms-widget>
  <!-- / WIDGET FIELD_7x7 -->

   <!-- WIDGET FIELD_11x11 -->
  <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">

    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
      <div class="h3">{{vm.widget4.title}}</div>

      <md-menu>
        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
        aria-label="more">
          <md-icon md-font-icon="icon-dots-vertical"></md-icon>
        </md-button>

        <md-menu-content width="2">
          <md-menu-item>
            <md-button ng-click="flipWidget()" aria-label="Flip widget">
              <md-icon md-font-icon="icon-file-document" class="icon"></md-icon>
              {{vm.widget4.details}}
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.getFieldEmpty();" aria-label="Refresh widget">
              <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
              {{vm.widget4.refresh}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      </div>

      <div class="pt-8 pb-32" layout="column" layout-align="center center">
        <div class="deep-purple-fg font-size-72 line-height-72">{{vm.field11x11.sum}}</div>
        <div class="h2 secondary-text font-weight-500">{{vm.field11x11.typeOfField}}</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h4 secondary-text text-truncate"></span>
        <span class="h4 ml-8"></span>
      </div>
    </ms-widget-front>
    <!-- / Front -->

    <!-- Back -->
    <ms-widget-back class="p-16 white-bg">
      <div class="flip-to-front">
        <md-button class="md-icon-button" ng-click="flipWidget()"
        aria-label="Flip widget">
          <md-icon md-font-icon="icon-close" class="s16"></md-icon>
        </md-button>
      </div>

      <div class="pt-16 h3">
        {{vm.widget4.detail}}
      </div>
    </ms-widget-back>
    <!-- / Back -->

  </ms-widget>
   <!--/ WIDGET FIELD_11x11 -->

</div>
<!-- / WIDGET GROUP -->

<!-- WIDGET NEWS -->
<div class="widget-group" layout="row" flex="100" layout-wrap>

  <!-- WIDGET 6 -->
  <ms-widget layout="column" flex="100" flex-gt-sm="100">

    <!-- Front -->
    <ms-widget-front class="white-bg">

      <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
        <div class="h1 pl-2 pv-16">{{vm.widget6.title}}</div>
        <md-button class="md-icon-button" ng-click="vm.getNotification();"
                   aria-label="more">
          <md-icon md-font-icon="icon-refresh"></md-icon>
          <md-tooltip><span class="h3">{{vm.widget6.refresh}}</span></md-tooltip>
        </md-button>
      </div>

      <div class="p-16" layout="row" layout-align="space-between center"
             ng-repeat="nt in vm.listNotification">
          <div>
            <div class="h3">{{nt.title}}</div>
            <div>
              <span class="secondary-text">{{vm.widget6.datePost}}</span>
              <span ng-style="{'color':'#006F65'}"> {{nt.startDate}}</span>
            </div>
          </div>

          <md-button class="md-icon-button" aria-label="More information" ng-click="vm.dialogNew($event, nt.title, nt.content)"> <!---->
            <md-icon md-font-icon="icon-clipboard-text"></md-icon>
            <md-tooltip><span class="h3">{{vm.widget6.showContent}}</span></md-tooltip>
          </md-button>
       </div>

      <div class="font-size-16" layout="row" layout-align="end center">
        <span class="page-info" hide-sm>Tin <strong ng-style="{'color':'#006F65'}">{{vm.countFirst}}</strong> - <strong ng-style="{'color':'#006F65'}">{{vm.countLast}}</strong> trong <strong ng-style="{'color':'#006F65'}">{{vm.allCount}}</strong> tin.</span>

        <md-button class="md-icon-button arrow" ng-disabled="vm.disabledOld" ng-click="vm.getOldNotification()">
          <md-icon md-font-icon="icon-chevron-left"></md-icon>
          <md-tooltip><span class="h3">{{vm.widget6.oldNews}}</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button arrow" ng-disabled="vm.disabledNew" ng-click="vm.getNewNotification()">
          <md-icon md-font-icon="icon-chevron-right"></md-icon>
          <md-tooltip><span>{{vm.widget6.newNews}}</span></md-tooltip>
        </md-button>
      </div>

    </ms-widget-front>
    <!-- / Front -->

  </ms-widget>
  <!-- / WIDGET 6 -->

</div>
<!-- / WIDGET NEWS -->

<!-- WIDGET CLUB -->
<div class="widget-group" layout="row" flex="100" layout-wrap>

  <!-- WIDGET 5 -->
  <ms-widget layout="row" flex="100">

    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
           layout-wrap>
        <div class="pv-8 h1">{{vm.widget5.title}}</div>

        <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
             flex-sm="100">
        </div>
      </div>

      <div layout="row" layout-align="start center" layout-wrap>
        <div class="p-16" layout="row" flex-gt-sm="100">
          <blockquote>
            <p class="pv-8 font-size-16">
              {{vm.widget5.content}}
            </p>
          </blockquote>
        </div>
        <div class="p-8" layout="column" flex-offset="15" flex="100"  layout-align="space-between start" layout-wrap>
            <span class="pv-8 h2" flex="100">
               {{vm.widget5.nameClub}} <span flex-offset="5" ng-style="{'color': '#009688'}" class="pv-8 font-size-30">{{vm.dataTypeOfMember.name}}</span>
            </span>
          <span class="pv-8 h2" flex="100">
               {{vm.widget5.address}} <span ng-style="{'color': '#009688'}" class="pv-8 font-size-23">{{vm.dataTypeOfMember.address}}</span>
            </span>
        </div>
        <div class="p-16" layout="column" flex="100" flex-gt-sm="100">
          <span class="h2">{{vm.widget5.typeMember}}</span>
          <span class="p-16 font-size-16">{{vm.widget5.typeContent}}</span>
        </div>
        <div class="p-16" layout="row" flex="100" flex-gt-sm="100">
          <div  flex="100" flex-gt-sm="100" ng-repeat="tm in vm.typeMember">
            <ms-widget flippable="true" layout="column" flex="100"  flex-gt-sm="100" md-whiteframe="10">

            <!-- Front -->
            <ms-widget-front class="white-bg" >

            <div class="pt-8 pb-8" layout="column" layout-align="center center">
                  <div class="teal-fg font-size-40 line-height-72">
                    {{tm.percent}}%
                  </div>
                  <div class="h3 font-weight-500">{{tm.type}}</div>
            </div>

            <div class="p-8 grey-50-bg border-top" layout="row" layout-align="start center">
            <span class="h4 secondary-text text-truncate"></span>
            <span class="h4 ml-8"></span>
            </div>
            </ms-widget-front>
            <!-- / Front -->

            </ms-widget>
          </div>
        </div>
      </div>
    </ms-widget-front>
    <!-- / Front -->

  </ms-widget>
  <!-- / WIDGET 5 -->

</div>
<!-- / WIDGET CLUB -->
