<div>
  <div layout="row" layout-align="center center" flex="90" flex-offset="5">
    <!-- WIDGET 1 -->
    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="38" >

      <!-- Front -->
      <ms-widget-front class="white-bg">
        <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
          <div class="h3">{{vm.dataInformation.widget1.title}}</div>
          <md-menu>
            <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                       aria-label="more">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>

            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                  {{vm.dataInformation.widget1.details}}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.GetTypeMemberOfMember()" aria-label="Refresh widget">
                  {{vm.dataInformation.widget1.refresh}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>

        <div class="pt-8 pb-32" layout="column" layout-align="center center">
          <div class="light-blue-fg font-size-50 line-height-72">
            {{vm.dataMember.typeOfMember}}
          </div>
          <div class="h2 secondary-text font-weight-500">{{vm.dataInformation.widget1.data.label}}</div>
        </div>

        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
          <span class="h4 secondary-text text-truncate"></span>
          <span class="h4 ml-8"></span>
        </div>
      </ms-widget-front>
      <!-- / Front -->

      <!-- Back -->
      <ms-widget-back class="p-16 white-bg">
        <div class="flip-to-front">
          <md-button class="md-icon-button" ng-click="flipWidget()"
                     aria-label="Flip widget">
            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
          </md-button>
        </div>

        <div>
          {{vm.dataInformation.widget1.detail}}
        </div>
      </ms-widget-back>
      <!-- / Back -->

    </ms-widget>
    <!-- / WIDGET 1 -->

    <!-- WIDGET 2 -->
    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="31">

      <!-- Front -->
      <ms-widget-front class="white-bg">
        <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
          <div class="h3">{{vm.dataInformation.widget2.title}}</div>

          <md-menu>
            <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                       aria-label="more">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>

            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                  {{vm.dataInformation.widget2.details}}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.GetTypeMemberOfMember()" aria-label="Refresh widget">
                  {{vm.dataInformation.widget2.refresh}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>

        <div class="pt-8 pb-32" layout="column" layout-align="center center">
          <div class="red-fg font-size-50 line-height-72">
            {{vm.dataMember.totalHour}}
          </div>
          <div class="h2 secondary-text font-weight-500">{{vm.dataInformation.widget2.data.label}}</div>
        </div>

        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
          <span class="h4 secondary-text text-truncate"></span>
          <span class="h4 ml-8"></span>
        </div>
      </ms-widget-front>
      <!-- / Front -->

      <!-- Back -->
      <ms-widget-back class="p-16 white-bg">
        <div class="flip-to-front">
          <md-button class="md-icon-button" ng-click="flipWidget()"
                     aria-label="Flip widget">
            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
          </md-button>
        </div>

        <div>
          {{vm.dataInformation.widget2.detail}}
        </div>
      </ms-widget-back>
      <!-- / Back -->

    </ms-widget>
    <!-- / WIDGET 2 -->

    <!-- WIDGET 3 -->
    <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="31">

      <!-- Front -->
      <ms-widget-front class="white-bg">
        <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
          <div class="h3">{{vm.dataInformation.widget3.title}}</div>

          <md-menu>
            <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                       aria-label="more">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>

            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                  {{vm.dataInformation.widget3.details}}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.GetTypeMemberOfMember()" aria-label="Refresh widget">
                  {{vm.dataInformation.widget3.refresh}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>

        <div class="pt-8 pb-32" layout="column" layout-align="center center">
          <div class="orange-fg font-size-50 line-height-72">
            {{vm.dataMember.totalPayment}}
          </div>
          <div class="h2 secondary-text font-weight-500">{{vm.dataInformation.widget3.data.label}}</div>
        </div>

        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
          <span class="h4 secondary-text text-truncate"></span>
          <span class="h4 ml-8"></span>
        </div>
      </ms-widget-front>
      <!-- / Front -->

      <!-- Back -->
      <ms-widget-back class="p-16 white-bg">
        <div class="flip-to-front">
          <md-button class="md-icon-button" ng-click="flipWidget()"
                     aria-label="Flip widget">
            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
          </md-button>
        </div>

        <div>
          {{vm.dataInformation.widget3.detail}}
        </div>
      </ms-widget-back>
      <!-- / Back -->

    </ms-widget>
    <!-- / WIDGET 3 -->
  </div>

  <!-- BASIC FORM -->
  <div class="form-wrapper md-whiteframe-1dp" flex="90" flex-offset="5">

    <form name="basicForm" class="md-inline-form" novalidate>

      <div class="md-title mt-10 h1">{{vm.dataInformation.title}}</div>
      <div class="pb-16 h3">{{vm.dataInformation.subtitle}}</div>

      <md-input-container class="md-block">
        <input type="text" name="name" ng-model="vm.dataUpdate.name" ng-value="vm.dataUpdate.name"
               placeholder="Họ và tên"
               required ng-disabled="vm.disableName">
        <div ng-messages="basicForm.name.$error"
             role="alert">
          <div ng-message="required">
            <span>{{vm.dataInformation.informationRequired}}</span>
          </div>
        </div>
      </md-input-container>

      <div layout="column" layout-gt-xs="row">

        <!-- BIRTH DATE -->
        <div class="pl-15 pr-50 pv-15" flex="8">
          <label class="h3">{{vm.dataInformation.user.informationBirthdate}}</label>
          <md-datepicker md-current-view="year" name="birthdate" ng-model="vm.dataUpdate.birthdate" ng-value="vm.dataUpdate.birthdate" md-placeholder="Nhập ngày"></md-datepicker>
        </div>
        <!-- / BIRTH DATE -->

        <!-- GENDER -->
        <div class="pl-15 pr-50 pv-25" flex="20" layout="row">
          <label flex="40" class="h3"> {{vm.dataInformation.user.informationGender.content}} </label>
          <md-radio-group ng-model="vm.dataUpdate.gender" ng-value="vm.dataUpdate.gender" flex="10" required>

            <md-radio-button  ng-value="true" style="font-size: 16px;"> {{vm.dataInformation.user.informationGender.male}} </md-radio-button>
            <md-radio-button  ng-value="false" style="font-size: 16px;"> {{vm.dataInformation.user.informationGender.female}} </md-radio-button>

          </md-radio-group>
        </div>
        <!-- / GENDER -->

        <!-- ID -->
        <md-input-container flex="35">
          <label>{{vm.dataInformation.user.informationId.content}}</label>
          <input name="id" ng-model="vm.dataUpdate.id" ng-value="vm.dataUpdate.id" ng-pattern="/^.[0-9]{8}/" ng-maxlength="9"
                 required>
          <div ng-messages="basicForm.id.$error"
               role="alert" multiple>
            <div ng-message="required"><span>{{vm.dataInformation.informationRequired}}</span></div>
            <div ng-message="pattern">
              <span>{{vm.dataInformation.user.informationId.maxlength}}</span>
            </div>
            <div ng-message="maxlength">
              <span>{{vm.dataInformation.user.informationId.maxlength}}</span>
            </div>
          </div>
        </md-input-container>
        <!-- / ID -->

      </div>

      <!-- ADDRESS -->
      <md-input-container class="md-block">
        <label>{{vm.dataInformation.user.informationAddress.content}}</label>
        <textarea name="address"  ng-model="vm.dataUpdate.address" ng-value="vm.dataUpdate.address" required  md-maxlength="150"></textarea>
        <div ng-messages="basicForm.address.$error"
             role="alert" multiple>
          <div ng-message="required"><span>{{vm.dataInformation.informationRequired}}</span></div>
          <div ng-message="md-maxlength">
            <span>{{vm.dataInformation.user.informationAddress.maxlength}}</span>
          </div>
        </div>
      </md-input-container>
      <!-- / ADDRESS -->

      <!-- EMAIL -->
      <md-input-container class="md-block">
        <input type="email" name="email" ng-model="vm.dataUpdate.email" ng-value="vm.dataUpdate.email"
               placeholder="Email"
               ng-pattern="/^.+@.+\..+$/" required>
        <div ng-messages="basicForm.email.$error"
             role="alert" multiple>
          <div ng-message="required">
            <span>{{vm.dataInformation.informationRequired}}</span>
          </div>
          <div ng-message="pattern">
            <span>{{vm.dataInformation.informationPattern.email}}</span>
          </div>
        </div>
      </md-input-container>
      <!-- / EMAIL -->

      <!-- PHONE -->
      <div layout="column" layout-gt-xs="row">
        <md-input-container flex="100" flex-gt-xs="33">
          <input type="text" name="numberPhone" ng-model="vm.dataUpdate.numberPhone" ng-value="vm.dataUpdate.numberPhone"
                 placeholder="Số điện thoại" ng-pattern="/^.[0-9]/" ng-maxlength="11" ng-minlength="10"
                 required>
          <div ng-messages="basicForm.numberPhone.$error"
               role="alert">
            <div ng-message="required">
              <span>{{vm.dataInformation.informationRequired}}</span>
            </div>
            <div ng-message="pattern">
              <span>{{vm.dataInformation.user.informationNumberPhone.pattern}}</span>
            </div>
            <div ng-message="maxlength">
              <span>{{vm.dataInformation.user.informationNumberPhone.pattern}}</span>
            </div>
            <div ng-message="minlength">
              <span>{{vm.dataInformation.user.informationNumberPhone.pattern}}</span>
            </div>
          </div>
        </md-input-container>
      </div>
      <!-- / PHONE -->

      <!-- CLUB -->
      <div class="pl-15 pr-300 pv-15" flex="100" layout="column">
        <span class="h2 pv-16" >Thay đổi câu lạc bộ</span>
        <span class="h3 pv-2" style="color: #f05b4f;">{{vm.dataInformation.user.informationClub.note}}</span>
        <p>
          {{vm.dataInformation.user.informationClub.note_1}}
        </p>
        <div class="p-16" layout="column" flex="100" flex-gt-sm="70">
          <div flex="100" layout="row" layout-align="space-between start">

            <div layout="column" flex="100" flex-gt-sm="100">
              <span flex="100" class="pv-2 h3">{{vm.dataInformation.widget4.chooseProvince}}</span>
              <div style="padding-left: 0;">
                <md-select class="pv-8 h3" placeholder="Tỉnh thành ..." ng-model="vm.dataProvince" ng-init="vm.getProvince()">
                  <md-option ng-repeat="pr in vm.provinces" value={{pr.idProvince}}>{{pr.province}}</md-option>
                </md-select>
              </div>
            </div>

            <div layout="column" flex="100" flex-gt-sm="100" flex-offset="5">
              <span flex="100" class="pv-2 h3">{{vm.dataInformation.widget4.chooseClub}}</span>
              <div style="padding-left: 0;">
                <md-select class="pv-8 h3" placeholder="Câu lạc bộ ..." ng-model="vm.idClub" ng-value="">
                  <md-option ng-repeat="clb in vm.clubs" value={{clb.id}}>{{clb.name}}</md-option>
                </md-select>
              </div>
            </div>

            <div class="pv-40">
              <md-button type="submit" class="md-raised md-accent" ng-click="vm.changeClub($event)">
                {{vm.dataInformation.buttonChange}}
              </md-button>
            </div>

          </div>
        </div>
      </div>
      <!-- CLUB -->

      <div layout="row" layout-align="center center">
        <md-button type="submit" class="md-raised md-accent" ng-click="vm.updateMember(); vm.dialogUpdateSuccess($event);">
          {{vm.dataInformation.buttonSave}}
        </md-button>
        <md-button  ng-click="vm.cancelUpdateMember()" class="md-raised md-accent">
          {{vm.dataInformation.buttonCancel}}
        </md-button>
      </div>

    </form>

  </div>
  <!-- / BASIC FORM -->

  <!-- BASIC FORM DATA -->
  <!--<div class="form-wrapper form-data-wrapper md-whiteframe-1dp" flex="40">-->
    <!--<div class="form-title">Form ng-model data</div>-->
    <!--<div class="json-data-wrapper">-->
      <!--<pre>{{vm.basicForm | json}}</pre>-->
    <!--</div>-->
  <!--</div>-->
  <!-- / BASIC FORM DATA -->
</div>
