<div layout="row" layout-align="space-between center">

    <div layout="row" layout-align="start center">
        <div class="logo"  layout="row" layout-align="start center">
            <span class="logo-image">H</span>
            <span class="logo-text">HYDRO</span>
        </div>

        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="64">
        </md-progress-circular>
    </div>

    <div layout="row" layout-align="start center">

        <div class="toolbar-separator"></div>


        <div class="toolbar-separator"></div>

        <md-menu-bar id="user-menu" ng-init="vm.getUsername();">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()"
                           aria-label="User settings"
                           translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">
                        </div>
                        <span class="username" hide-xs>{{vm.memberName}}</span>
                        <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-xs></md-icon>
                    </div>
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-key-change" class="icon"></md-icon>
                        <md-button ng-click="vm.changePasswordDialog($event)">{{vm.dataToolbar.tbChangePassword}}</md-button>
                    </md-menu-item>

                    <md-menu-divider></md-menu-divider>

                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ng-click="vm.dialogLogout($event)">{{vm.dataToolbar.tbLogout}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>

        <div class="toolbar-separator"></div>
        <div class="toolbar-separator"></div>
    </div>
</div>
