<div id="forms">
  <div class="md-title mt-10 h1">{{vm.registerAccount.title}}</div>
  <div class="pb-16 h3">
    {{vm.registerAccount.subtitle}}
  </div>

  <div layout="row">

    <!-- FORM WIZARD -->
    <ms-form-wizard flex>
      <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

        <!-- ACCOUNT -->
        <md-tab>
          <md-tab-label>
             <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$invalid">1</span>
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                    <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">{{vm.registerAccount.theme_1}}</span>
             </span>
          </md-tab-label>

          <md-tab-body>
            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
              <md-input-container class="md-block">
                <input type="text" name="name" ng-model="vm.formWizard.name"
                       placeholder="Họ và tên"
                       required>
                <div ng-messages="wizardStep1.name.$error"
                     role="alert">
                  <div ng-message="required">
                    <span>{{vm.registerAccount.registerRequired}}</span>
                  </div>
                </div>
              </md-input-container>

              <!-- USERNAME -->
              <md-input-container class="md-block">
                <input type="text" name="username" ng-model="vm.formWizard.username"
                       placeholder="Tên đăng nhập" ng-minlength="6" ng-maxlength="30" ng-pattern="vm.pattern"
                       required>
                <div ng-messages="wizardStep1.username.$error"
                     role="alert">
                  <div ng-message="required">
                    <span>{{vm.registerAccount.registerRequired}}</span>
                  </div>
                  <div ng-message="minlength">
                    <span>{{vm.registerAccount.user.registerUsername.required}}</span>
                  </div>
                  <div ng-message="maxlength">
                    <span>{{vm.registerAccount.user.registerUsername.required}}</span>
                  </div>
                  <div message="pattern">
                  </div>
                </div>
                <span class="pt-8 pv-8 h3" ng-show="vm.hide" ng-style="{'color': '#D50000'}">{{vm.contentPattern}}</span>
              </md-input-container>
              <!-- / USERNAME -->

              <div layout="column" layout-gt-sm="row" flex>

                <!-- PASSWORD -->
                <md-input-container flex="100" flex-gt-xs="50">
                  <input type="password" name="password" ng-model="vm.formWizard.password"
                         placeholder="Mật khẩu" ng-minlength="6" ng-maxlength="30"
                         required>
                  <div ng-messages="wizardStep1.password.$error"
                       role="alert">
                    <div ng-message="required">
                      <span>{{vm.registerAccount.registerRequired}}</span>
                    </div>
                    <div ng-message="minlength">
                      <span>{{vm.registerAccount.user.registerPassword.required}}</span>
                    </div>
                    <div ng-message="maxlength">
                      <span>{{vm.registerAccount.user.registerPassword.required}}</span>
                    </div>
                  </div>
                </md-input-container>
                <!-- / PASSWORD -->

                <!-- PASSWORD CONFIRM -->
                <md-input-container flex="100" flex-gt-xs="50">
                  <input type="password" name="passwordConfirm"
                         ng-model="vm.formWizard.passwordConfirm"
                         placeholder="Xác nhận mật khẩu"
                         ng-pattern="vm.formWizard.password"
                         required>
                  <div ng-messages="wizardStep1.passwordConfirm.$error"
                       role="alert">
                    <div ng-message="required">
                      <span>{{vm.registerAccount.registerRequired}}</span>
                    </div>
                    <div ng-message="pattern">
                      <span>{{vm.registerAccount.user.registerConfirmPassword.pattern}}</span>
                    </div>
                  </div>
                </md-input-container>
                <!-- / PASSWORD CONFIRM -->

              </div>
            </form>
          </md-tab-body>
        </md-tab>
        <!-- / ACCOUNT -->

        <!-- BASIC INFORMATION -->
        <md-tab ng-disabled="wizardStep1.$invalid">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
               <span class="ms-form-wizard-step-number md-accent-bg"
                   ng-if="wizardStep2.$invalid">2</span>
               <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                     <i class="icon-check s16"></i>
               </span>
              <span class="ms-form-wizard-step-text">{{vm.registerAccount.theme_2}}</span>
            </span>
          </md-tab-label>

          <md-tab-body>
            <form name="wizardStep2" ms-form-wizard-form novalidate>
              <div layout="column" layout-gt-xs="row">

                <!-- BIRTH DATE -->
                <div class="pl-15 pr-50 pv-15" flex="8">
                  <label>{{vm.registerAccount.user.registerBirthdate}}</label>
                  <md-datepicker md-current-view="year"  name="birthdate" ng-model="vm.formWizard.birthdate" md-placeholder="Nhập ngày" md-open-on-focus required></md-datepicker>
                </div>
                <!-- / BIRTH DATE -->

                <!-- GENDER -->
                <div class="pl-15 pr-50 pv-25" flex="20" layout="row">
                  <label flex="40"> {{vm.registerAccount.user.registerGender.content}} </label>
                  <md-radio-group ng-model="vm.formWizard.gender" flex="10" required>

                    <md-radio-button value="true" style="font-size: 16px;"> {{vm.registerAccount.user.registerGender.male}} </md-radio-button>
                    <md-radio-button value="false" style="font-size: 16px;"> {{vm.registerAccount.user.registerGender.female}} </md-radio-button>

                  </md-radio-group>
                </div>
                <!-- / GENDER -->

                <!-- ID -->
                <md-input-container flex="40">
                  <label>{{vm.registerAccount.user.registerId.content}}</label>
                  <input name="id" ng-model="vm.formWizard.id" ng-pattern="/^.[0-9]{8}/" ng-maxlength="9"
                         required>
                  <div ng-messages="wizardStep2.id.$error"
                       role="alert" multiple>
                    <div ng-message="required"><span>{{vm.registerAccount.registerRequired}}</span></div>
                    <div ng-message="pattern">
                      <span>{{vm.registerAccount.user.registerId.maxlength}}</span>
                    </div>
                    <div ng-message="maxlength">
                      <span>{{vm.registerAccount.user.registerId.maxlength}}</span>
                    </div>
                  </div>
                </md-input-container>
                <!-- / ID -->

              </div>

              <!-- ADDRESS -->
              <md-input-container class="md-block">
                <label>{{vm.registerAccount.user.registerAddress.content}}</label>
                <textarea name="address" ng-model="vm.formWizard.address" required  md-maxlength="150"></textarea>
                <div ng-messages="wizardStep2.address.$error"
                     role="alert" multiple>
                  <div ng-message="required"><span>{{vm.registerAccount.registerRequired}}</span></div>
                  <div ng-message="md-maxlength">
                    <span>{{vm.registerAccount.user.registerAddress.maxlength}}</span>
                  </div>
                </div>
              </md-input-container>
              <!-- / ADDRESS -->

            </form>
          </md-tab-body>
        </md-tab>
        <!-- / BASIC INFORMATION -->

        <!-- ANOTHER INFORMATION -->
        <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
               <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$invalid">3</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                     <i class="icon-check s16"></i>
                  </span>
                  <span class="ms-form-wizard-step-text">{{vm.registerAccount.theme_3}}</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <form name="wizardStep3" ms-form-wizard-form novalidate>

              <!-- EMAIL -->
              <md-input-container class="md-block">
                <input type="email" name="email" ng-model="vm.formWizard.email"
                       placeholder="Email"
                       ng-pattern="/^.+@.+\..+$/" required>
                <div ng-messages="wizardStep3.email.$error"
                     role="alert" multiple>
                  <div ng-message="required">
                    <span>{{vm.registerAccount.registerRequired}}</span>
                  </div>
                  <div ng-message="pattern">
                    <span>{{vm.registerAccount.registerPattern.email}}</span>
                  </div>
                </div>
              </md-input-container>
              <!-- / EMAIL -->

              <!-- PHONE -->
              <div layout="column" layout-gt-xs="row">
                <md-input-container flex="100" flex-gt-xs="33">
                  <input type="text" name="numberPhone" ng-model="vm.formWizard.numberPhone"
                         placeholder="Số điện thoại" ng-pattern="/^.[0-9]/" ng-maxlength="11" ng-minlength="10"
                         required>
                  <div ng-messages="wizardStep3.numberPhone.$error"
                       role="alert">
                    <div ng-message="required">
                      <span>{{vm.registerAccount.registerRequired}}</span>
                    </div>
                    <div ng-message="pattern">
                      <span>{{vm.registerAccount.user.registerNumberPhone.pattern}}</span>
                    </div>
                    <div ng-message="maxlength">
                      <span>{{vm.registerAccount.user.registerNumberPhone.pattern}}</span>
                    </div>
                    <div ng-message="minlength">
                      <span>{{vm.registerAccount.user.registerNumberPhone.pattern}}</span>
                    </div>
                  </div>
                </md-input-container>
              </div>
              <!-- / PHONE -->

              <!-- CLUB -->
              <div class="pl-15 pr-300 pv-15" flex="100" layout="column">
                <span class="h3" style="color: #f05b4f;">{{vm.registerAccount.user.registerClub.note}}</span>
                <p>
                  {{vm.registerAccount.user.registerClub.note_1}}
                </p>
                <div class="p-16" layout="column" flex="100" flex-gt-sm="70">
                  <div flex="100" layout="row" layout-align="space-between start">
                    <div layout="column" flex="100" flex-gt-sm="100">
                      <span flex="100" class="pv-2 h3">{{vm.widget4.chooseProvince}}</span>
                      <div style="padding-left: 0;">
                        <md-select class="pv-8 h3" placeholder="Tỉnh thành ..." ng-model="vm.dataProvince" ng-init="vm.getProvince()">
                          <md-option ng-repeat="pr in vm.provinces" value={{pr.idProvince}}>{{pr.province}}</md-option>
                        </md-select>
                      </div>
                    </div>

                    <div layout="column" flex="100" flex-gt-sm="100" flex-offset="10">
                      <span flex="100" class="pv-2 h3">{{vm.widget4.chooseClub}}</span>
                      <div style="padding-left: 0;">
                        <md-select class="pv-8 h3" placeholder="Câu lạc bộ ..." ng-model="vm.formWizard.club" required ng-maxlength="2">
                          <md-option ng-repeat="clb in vm.clubs" value={{clb.id}}>{{clb.name}}</md-option>
                        </md-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- CLUB -->

            </form>
          </md-tab-body>
        </md-tab>
        <!-- / ANOTHER INFORMATION -->

      </md-tabs>

      <div class="navigation" flex layout="row" layout-align="center center">
        <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                   ng-disabled="msWizard.isFirstStep()">
          {{vm.registerAccount.previous}}
        </md-button>
        <div class="steps">
          <span ng-repeat="form in msWizard.forms"
               ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
        </div>
        <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                   ng-hide="msWizard.isLastStep()"
                   ng-disabled="msWizard.currentStepInvalid()">
          {{vm.registerAccount.next}}
        </md-button>
        <md-button class="md-raised md-accent"  ng-click="vm.registerAC(); vm.sendForm($event); msWizard.resetForm();"
                   ng-show="msWizard.isLastStep()"
                   ng-disabled="msWizard.formsIncomplete()"> <!-- -->
          {{vm.registerAccount.send}}
        </md-button>
      </div>
    </ms-form-wizard>
    <!-- / FORM WIZARD -->
  </div>
</div>
