﻿<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Quản trị</title>
    <link rel="shortcut icon" href="dev/favicon.ico"> 
    <!-- inject:css -->
    <link href="/bower_components/angular-material-data-table/dist/md-data-table.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <!-- endinject -->
</head>

<body ng-app="adminUI" ng-cloak ng-controller="adminController">
    <div layout="row" layout-align="space-between center" ng-init="checkForLogin()">
        <h1 style="font-family: Nicon; font-size: 80px; margin-top: 10px; margin-bottom: 5px;" class="title angry-animate md-whiteframe-3dp">Hidro</h1>
        <h1 class="md-display-1 text-center">Quản trị hệ thống sân bóng mini</h1>
        <md-button ng-click="logout()" style="height: 60px; width: 60px;" class="md-icon-button" aria-label="More">
            <md-icon style="height: 48px; width: 48px;" md-svg-icon="/public/images/ic_exit_to_app_black_24px.svg"></md-icon>
        </md-button>
    </div>    
    
    <md-content class="md-padding" layout="row" layout-align="center">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-sref="home" name="home">Quản lý câu lạc bộ</md-nav-item>
            <md-nav-item md-nav-sref="about" name="about">Quản lý dữ liệu</md-nav-item>
        </md-nav-bar>
    </md-content>
    <div ui-view></div>
    <!-- inject:js -->
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-material-data-table/dist/md-data-table.js" type="text/javascript"></script>
    <script src="/bower_components/angular-utf8-base64/angular-utf8-base64.min.js" type="text/javascript"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>
    <script src="/public/js/config/app.js"></script>
    <script src="/public/js/controllers/about-controller.js"></script>
    <script src="/public/js/controllers/admin-controller.js"></script>
    <script src="/public/js/controllers/home-controller.js"></script>
    <script src="/public/js/directive/file-read.js" type="text/javascript"></script>
    <!-- endinject -->
</body>

</html>
