<!-- WIDGET GROUP -->
<div class="widget-group" layout="row" flex="100" layout-wrap>
  <!-- WIDGET 1 -->
  <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">

    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
        <div class="h3">{{vm.widget1.title}}</div>

        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                     aria-label="more">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>

          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="flipWidget()" aria-label="Flip widget">
                <md-icon md-font-icon="icon-file-document" class="icon"></md-icon>
                {{vm.widget1.details}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.countMember()" aria-label="Refresh widget">
                <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                {{vm.widget1.refresh}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="pt-8 pb-32" layout="column" layout-align="center center" ng-init="vm.countMember()">
        <div class="green-fg font-size-72 line-height-72">
          {{vm.dataMember.count}}
        </div>
        <div class="h3 secondary-text font-weight-500">{{vm.widget1.data.label}}</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h4 secondary-text text-truncate"></span>
        <span class="h4 ml-8"></span>
      </div>
    </ms-widget-front>
    <!-- / Front -->

    <!-- Back -->
    <ms-widget-back class="p-16 white-bg">
      <div class="flip-to-front">
        <md-button class="md-icon-button" ng-click="flipWidget()"
                   aria-label="Flip widget">
          <md-icon md-font-icon="icon-close" class="s16"></md-icon>
        </md-button>
      </div>

      <div class="pt-30 h3">
        {{vm.widget1.detail}}
      </div>
    </ms-widget-back>
    <!-- / Back -->

  </ms-widget>
  <!-- / WIDGET 1 -->

  <!-- WIDGET 2 -->
  <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">

    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
        <div class="h3">{{vm.widget2.title}}</div>

        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                     aria-label="more">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>

          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="flipWidget()" aria-label="Flip widget">
                <md-icon md-font-icon="icon-file-document" class="icon"></md-icon>
                {{vm.widget2.details}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.countClub()" aria-label="Refresh widget">
                <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                {{vm.widget2.refresh}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="pt-8 pb-32" layout="column" layout-align="center center" ng-init="vm.countClub()">
        <div class="orange-fg font-size-72 line-height-72">
          {{vm.dataClub.count}}
        </div>
        <div class="h3 secondary-text font-weight-500">{{vm.widget2.data.label}}</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h4 secondary-text text-truncate"></span>
        <span class="h4 ml-8"></span>
      </div>
    </ms-widget-front>
    <!-- / Front -->

    <!-- Back -->
    <ms-widget-back class="p-16 white-bg">
      <div class="flip-to-front">
        <md-button class="md-icon-button" ng-click="flipWidget()"
                   aria-label="Flip widget">
          <md-icon md-font-icon="icon-close" class="s16"></md-icon>
        </md-button>
      </div>

      <div class="pt-30 h3">
        {{vm.widget2.detail}}
      </div>
    </ms-widget-back>
    <!-- / Back -->

  </ms-widget>
  <!-- / WIDGET 2 -->

  <!-- WIDGET 3 -->
  <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">

    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
        <div class="h3">{{vm.widget3.title}}</div>

        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                     aria-label="more">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>

          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="flipWidget()" aria-label="Flip widget">
                <md-icon md-font-icon="icon-file-document" class="icon"></md-icon>
                {{vm.widget3.details}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.countField()" aria-label="Refresh widget">
                <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                {{vm.widget3.refresh}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="pt-8 pb-32" layout="column" layout-align="center center" ng-init="vm.countField()">
        <div class="blue-fg font-size-72 line-height-72">
          {{vm.dataField.result}}
        </div>
        <div class="h3 secondary-text font-weight-500">{{vm.widget3.data.label}}</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h4 secondary-text text-truncate"></span>
        <span class="h4 ml-8"></span>
      </div>
    </ms-widget-front>
    <!-- / Front -->

    <!-- Back -->
    <ms-widget-back class="p-16 white-bg">
      <div class="flip-to-front">
        <md-button class="md-icon-button" ng-click="flipWidget()"
                   aria-label="Flip widget">
          <md-icon md-font-icon="icon-close" class="s16"></md-icon>
        </md-button>
      </div>

      <div class="pt-30 h3">
        {{vm.widget3.detail}}
      </div>
    </ms-widget-back>
    <!-- / Back -->

  </ms-widget>
  <!-- / WIDGET 3 -->

</div>
<!-- / WIDGET GROUP -->

<!-- WIDGET GROUP -->
<div class="widget-group" layout="row" flex="100" layout-wrap>

  <!-- WIDGET 4 -->
  <ms-widget layout="row" flex="100">

    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center" layout-wrap>
        <div class="pv-8 h1">{{vm.widget4.title}}</div>
      </div>
      <div layout="row" layout-align="center center" layout-wrap>

        <div class="p-16" layout="row" flex-gt-sm="100">
          <blockquote>
            <p class="pv-8 h2">
              {{vm.widget4.content}}
            </p>
            <footer>
              <i class="h3">{{vm.widget4.foot}}</i>
            </footer>
          </blockquote>
        </div>
        <div class="p-16" layout="column" flex="100" flex-gt-sm="70">
          <div flex="100" layout="row" layout-align="space-between start">
            <div layout="column" flex="100" flex-gt-sm="100">
              <span flex="100" class="pv-2 font-size-18">{{vm.widget4.chooseProvince}}</span>
              <div style="padding-left: 0;">
                <md-select class="pv-8 font-size-18" placeholder="Tỉnh thành ..." ng-model="vm.dataProvince" ng-init="vm.getProvince()">
                  <md-option ng-repeat="pr in vm.provinces" value={{pr.idProvince}}>{{pr.province}}</md-option>
                </md-select>
              </div>
            </div>

            <div layout="column" flex="100" flex-gt-sm="100" flex-offset="10">
              <span flex="100" class="pv-2 font-size-18">{{vm.widget4.chooseClub}}</span>
              <div style="padding-left: 0;">
                <md-select class="pv-8 font-size-18" placeholder="Câu lạc bộ ..." ng-model="vm.dataIdClub">
                  <md-option ng-repeat="clb in vm.clubs" value={{clb.id}}>{{clb.name}}</md-option>
                </md-select>
              </div>
            </div>
          </div>
        </div>

        <div layout="column" flex-offset="5" layout-align="center center">
          <md-button ng-style="{'background-color': '#009688','color': '#ffffff'}" ng-click="vm.getClubForId();"><span>{{vm.widget4.buttonClick}}</span></md-button>
        </div>

      </div>

      <div layout="column" layout-wrap>
        <div ng-include="vm.widget4.src"></div>
      </div>
    </ms-widget-front>
    <!-- / Front -->

  </ms-widget>
  <!-- / WIDGET 4 -->

</div>
<!-- / WIDGET GROUP -->



