
  <div class="p-8" layout="column" flex-offset="15" flex="100"  layout-align="space-between start" layout-wrap>
            <span class="pv-8 h2" flex="100">
              {{vm.widget4.nameClub}} <span flex-offset="5" ng-style="{'color': '#009688'}" class="pv-8 font-size-30">{{vm.infomationClub.name}}</span>
            </span>
    <span class="pv-8 h2" flex="100">
              {{vm.widget4.addressClub}} <span ng-style="{'color': '#009688'}" class="pv-8 font-size-23">{{vm.infomationClub.address}}</span>
            </span>
  </div>

  <div layout="row" flex-offset="10" flex="80" layout-align="center center">

    <md-card flex="25" md-whiteframe="10">
      <div class="pt-2 pb-8" layout="column" layout-align="center center">
        <div ng-style="{'color': '#009688'}" class="font-size-40 line-height-72" style="padding-top:5%;">
          {{vm.infomationClub.price5x5}},000
        </div>
        <div class="h1 font-weight-500">
          {{vm.widget4.hour}}
        </div>
      </div>
      <div class="p-8 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h2 secondary-text">{{vm.widget4.price5x5}}</span>
        <span class="h4 ml-8"></span>
      </div>
    </md-card>

    <md-card flex="25" flex-offset="5" md-whiteframe="10">
      <div class="pt-2 pb-8" layout="column" layout-align="center center">
        <div ng-style="{'color': '#009688'}" class="font-size-40 line-height-72" style="padding-top:5%;">
          {{vm.infomationClub.price7x7}},000
        </div>
        <div class="h1 font-weight-500">
          {{vm.widget4.hour}}
        </div>
      </div>
      <div class="p-8 grey-50-bg border-top" layout="row" layout-align="center center">
        <span class="h2 secondary-text">{{vm.widget4.price7x7}}</span>
        <span class="h4 ml-8"></span>
      </div>
    </md-card>

    <md-card flex="25" flex-offset="5" md-whiteframe="10">
      <div class="pt-2 pb-8" layout="column" layout-align="center center">
        <div ng-style="{'color': '#009688'}" class="font-size-40 line-height-72" style="padding-top:5%;">
          {{vm.infomationClub.price11x11}},000
        </div>
        <div class="h1 font-weight-500">
          {{vm.widget4.hour}}
        </div>
      </div>
      <div class="p-8 grey-50-bg border-top" layout="row" layout-align="center center">
        <span class="h2 secondary-text">{{vm.widget4.price11x11}}</span>
        <span class="h4 ml-8"></span>
      </div>
    </md-card>

  </div>
  <div layout="row" flex="100" layout-wrap>
    <div class="pv-16" flex="35" flex-offset="15" layout="column" layout-align="space-between start">
      <div layout="column" layout-align="space-between  start">
        <span class="h2">{{vm.widget4.note}}</span>
        <span class="pt-16 h3">{{vm.widget4.noteContent}}</span>
        <span class="pt-16 h3"><md-button ng-style="{'background-color': '#03a9f4','color': '#03a9f4'}">1</md-button> {{vm.widget4.noteContent5x5}} </span>
        <span class="pt-16 h3"><md-button ng-style="{'background-color': '#9c27b0','color': '#9c27b0'}">2</md-button> {{vm.widget4.noteContent7x7}} </span>
        <span class="pt-16 h3"><md-button ng-style="{'background-color': '#558B2F','color': '#558B2F'}">3</md-button> {{vm.widget4.noteContent11x11}} </span>
      </div>
    </div>
    <div flex="35" layout="row" layout-align="start start">
      <nvd3 class="h-400"
            config="vm.widget4.mainChart.config"
            options="vm.widget4.mainChart.options"
            data="vm.widget4.mainChart.data"></nvd3>
    </div>
  </div>
