<div class="page-layout carded fullwidth single-scroll" layout="row">

  <!-- CENTER -->
  <div class="center" flex>

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <md-content class="content" ms-scroll>

         <div id="demo-content" class="demo-content">
            <img src={{vm.introduce.media.image.src}} class="md-card-image" alt="sunrise">

            <h1>{{vm.dataCard.title}}</h1>
            <h3 class="secondary-text">{{vm.introduce.hello}}</h3>

            <p>
              {{vm.introduce.subtitle}}
            </p>

            <blockquote>
              <p>
                {{vm.introduce.text.text_1}}
              </p>
              <footer>
                <i class="h4">{{vm.introduce.foot}}</i> -
              </footer>
            </blockquote>

            <p>
              {{vm.introduce.text.text_2}}
            </p>
            <p>
              {{vm.introduce.text.text_3}}
            </p>
            <p>
              {{vm.introduce.text.text_4}}
            </p>
            <p>
              {{vm.introduce.text.text_5}}
            </p>
            <p>
              {{vm.introduce.text.text_6}}
            </p>
            <p>
              {{vm.introduce.text.text_7}}
            </p>
          </div>

      </md-content>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
