<div id="dashboard-project" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="column" layout-align="space-between">
            <div layout="row" layout-align="center center">
                <div>
                    <span class="md-display-1 font-weight-150">{{vm.selectedProject.title1}} - </span>
                  <span class="md-display-1 font-weight-100"><i>{{vm.selectedProject.title2}}</i></span>
                </div>
            </div>

            <div layout="row">
                <div class="selected-project">{{vm.selectedProject.name}}</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <!-- OVERVIEW -->
                <md-tab label={{vm.selectedProject.overview}}>
                  <div ng-include="'app/main/apps/dashboards/project/overview/overview.html'"></div>
                </md-tab>
                <!-- / OVERVIEW -->

                <!-- INTRODUCE -->
                <md-tab label={{vm.selectedProject.introduce}} ng-click="vm.formWizard = {};">
                  <div ng-include="'app/main/apps/dashboards/project/introduce/introduce.html'"></div>
                </md-tab>
                <!-- / INTRODUCE -->

                <!-- REGISTER -->
                <md-tab label={{vm.selectedProject.register}}>
                  <div ng-include="'app/main/apps/dashboards/project/register/register.html'"></div>
                </md-tab>
                <!-- / REGISTER -->

                <!-- CONTACT -->
                <md-tab label={{vm.selectedProject.contact}} ng-click="vm.formWizard = {};">
                  <div ng-include="'app/main/apps/dashboards/project/contact/contact.html'"></div>
                </md-tab>
                <!-- / CONTACT -->

            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav" ms-scroll ms-sidenav-helper>
      <div ng-include="'app/main/apps/dashboards/project/sidenav/sidenav.html'"></div>
    </md-sidenav>
    <!-- / SIDENAV -->
</div>
