<md-dialog class="compose-dialog" aria-label="Thay đổi câu lạc bộ">
  <form class="md-inline-form">
    <md-toolbar style="background-color: #006F65;;color: #ffffff;">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="h2" translate="Thay đổi câu lạc bộ"></span>
        </div>
      </md-toolbar>

    <md-dialog-content ms-scroll>
      <div layout="column">
        <p class="h3">{{dataDialog.content}}</p>
        </div>
      </md-dialog-content>
    <md-dialog-content>
      <div layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-button style="background-color: #006F65;color: #ffffff;" ng-click="closeDialog()">{{dataDialog.dialogClose}}</md-button>
          </div>
        </div>
      </md-dialog-content>
    </form>
</md-dialog>
