<div class="md-padding" layout="column" layout-align="start center">
    <div layout="row" layout-align="center start">
        <md-button class="md-raised md-primary" ng-click="backup()">Sao Lưu</md-button>
        <md-button class="md-raised md-warn">Phục Hồi</md-button>
    </div>
    <div style="margin-top: 80px;" layout="column" layout-align="center center" ng-show="filePath">
        <h4>database.sql</h4>
        <form action="http://localhost:8013/backup">
            <md-button class="md-fab md-primary" aria-label="Use Android" type="submit">
             <md-tooltip md-direction="left">Download</md-tooltip>
          <md-icon style="color: greenyellow; font-size: 48px;" md-svg-src="public/images/ic_file_download_black_48px.svg"></md-icon>
        </md-button>
        </form>        
    </div>
    <div style="margin-top: 80px;" layout="column" layout-align="center center" ng-show="false">    
        <form method="POST" action="http://localhost:8013/restore" enctype="multipart/form-data">
            <md-input-container>
                <input name="file" type="file" accept=".sql" >
            </md-input-container>
            <md-button class="md-fab md-primary" aria-label="Use Android" type="submit">
             <md-tooltip md-direction="left">Download</md-tooltip>
          <md-icon style="color: greenyellow; font-size: 48px;" md-svg-src="public/images/ic_file_download_black_48px.svg"></md-icon>
        </md-button>   
        </form>
            

                
    </div>
</div>