<div layout="column">
    <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <div layout="row" flex-offset="30">
                <md-input-container class="md-icon-float md-block table-tool" style="margin-top: 40px; font-size: 16px;">
                    <label >Nhập tên câu lạc bộ</label>
                    <md-icon md-svg-icon="public/images/ic_search_black_36px.svg"></md-icon>
                    <input  ng-model="parameter">
                </md-input-container>
                <md-button class="md-raised md-warn" ng-click="find();" style="color: white; font-weight: bold; max-height: 30px; margin-top: 40px;">Tìm Kiếm</md-button>
                <md-button class="md-raised md-primary" ng-click="showAdvanced($event);" style="color: white; font-weight: bold; max-height: 30px; margin-top: 40px;">Thêm CLB</md-button> 
            </div>
            <div>
                <md-button class="md-icon-button" ng-click="loadStuff()">
                    <md-icon md-svg-src="public/images/ic_refresh_black_24px.svg">refresh</md-icon>     
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon md-svg-src="public/images/ic_filter_list_black_24px.svg">filter_list</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon md-svg-src="public/images/ic_more_vert_black_24px.svg">more_vert</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
            <span>{{selected.length}} câu lạc bộ được chọn</span>
            <span flex></span>
            <md-button class="md-icon-button">
                <md-icon ng-click="updateClub($event)" md-svg-src="public/images/ic_update_black_24px.svg">update</md-icon>
            </md-button>
            <md-button class="md-icon-button">
                <md-icon ng-click="deleteClub()" md-svg-src="public/images/ic_delete_black_24px.svg">delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="column" flex="80" layout-align="center center">
    <md-table-container>
        <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selected" md-progress="promise">
            <!-- <thead md-head md-order="query.order">
              <tr md-row>
                <th md-column ng-repeat="column in columns" md-numeric="column.numeric" md-order-by="{{column.orderBy}}">
                  <span>{{column.name}}</span>
                  <span ng-if="column.unit">({{column.unit}})</span>
                </th>
              </tr>
            </thead> -->
            <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder">
                <tr md-row>
                    <th md-column md:order:by="name"><span>ID</span></th>
                    <th md-column md:order:by="type">Tên CLB<span></span></th>
                    <th md-column md:order:by="type">Tên quản lý<span></span></th>
                    <th md-column data-md-order-by="calories.value" data-md-desc><span>Địa chỉ</span></th>
                    <th md-column data-md-numeric data-md-order-by="fat.value"><span>Khu vực</span></th>                    
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="dessert" md-select-id="idClub" data-md-on-select="log" md-on-deselect="deselect" x-md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" data-ng-repeat="dessert in desserts| filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
                    <td md-cell>{{dessert.idClub}}</td>          
                    <td md-cell>{{dessert.name}}</td>
                    <td md-cell>{{dessert.managerName}}</td>
                    <td md-cell>{{dessert.address}}</td>
                    <td md-cell>{{dessert.province}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <div style="text-align: center;">{{noData}}</div>
    <data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.length}}" md-on-paginate="onPaginate" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></data-md-table-pagination>
    </div>
</div>