<md-dialog aria-label="" flex="70">
    <form name="newForm">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Thêm câu lạc bộ</h2>       

        </div>
    </md-toolbar>

    <md-dialog-content>

                
            <md-content layout="column" layout-align="start stretch">

                <div layout="row">
                    <h3 style="color: #cc0000; text-align: center; text-shadow: 3px 3px 3px #DDDDDD;" flex="95">Thông tin quản lý</h3> 
                </div>

                <div layout="row" layout-align="space-around start" layout-padding>

                    <md-input-container flex="45">
                        <label>Họ tên</label>                    
                        <input name="name"  required type="text" ng-model="newInfor.name">
                        <span class="red-text" ng-show="newForm.name.$error.required && newForm.name.$touched">Đây là trường bắt buộc</span>
                    </md-input-container>
                    <md-input-container flex-offset="5" flex="40">
                        <label >Tên đăng nhập</label>                    
                        <input name="username"  ng-minlength="8" required type="text" ng-model="newInfor.username">
                        <span class="red-text" ng-show="newForm.username.$error.required && newForm.username.$touched">Đây là trường bắt buộc</span>
                        <span class="red-text" ng-show="newForm.username.$error.minlength && newForm.username.$touched">Độ dài phải lớn hơn 8 ký tự</span>
                        <span class="red-text" ng-show="showErrorIsExist">Tài khoản đã tồn tại</span>
                        <span class="red-text" ng-show="showErrorBlank">Tài khoản không được có khoảng trống</span>
                        <span style="color: #2ca02c;" ng-show="showAccountUsed && newForm.username.$touched">Tài khoản có thể sử dụng</span>
                    </md-input-container>
                    <md-button style="margin-top: 20px;" class="md-icon-button" ng-click="checkUsernameExist()">
                        <md-icon md-svg-src="/public/images/ic_sync_white_24px.svg" style="color: #7A7A7A;"></md-icon>                   
                    </md-button>
                </div>
                <div layout="row" layout-align="space-around start" layout-padding>
                    <md-input-container flex="45">
                        <label>Mật khẩu</label>                    
                        <input name="password" ng-minlength="8"  required type="password" ng-model="newInfor.password">
                        <span class="red-text" ng-show="newForm.password.$error.required && newForm.password.$touched">Đây là trường bắt buộc</span>
                        <span class="red-text" ng-show="newForm.password.$error.minlength && newForm.password.$touched">Độ dài phải lớn hơn 8 ký tự</span>
                    </md-input-container>
                    <md-input-container flex-offset="5" flex="45">
                        <label >Nhập lại mật khẩu</label>                   
                        <input name="repassword"  ng-minlength="8" required type="password"  ng-model="newInfor.repassword">
                        <span class="red-text" ng-show="newForm.repassword.$error.required && newForm.repassword.$touched">Đây là trường bắt buộc</span>
                        <span class="red-text" ng-show="newForm.repassword.$error.minlength && newForm.repassword.$touched">Độ dài phải lớn hơn 8 ký tự</span>
                        <span class="red-text" ng-show="falsePassword">Nhập lại mật khẩu chưa đúng</span>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="space-between start" layout-padding>
                    <md-input-container flex="45">
                        <label >Số CMND</label>                    
                        <input name="cmnd" type="number" ng-minlength="9" ng-maxlength="9" required  ng-model="newInfor.id">
                        <span class="red-text" ng-show="newForm.cmnd.$error.required && newForm.cmnd.$touched">Đây là trường bắt buộc</span>
                        <span class="red-text" ng-show="(newForm.cmnd.$error.maxlength || newForm.cmnd.$error.minlength) && newForm.cmnd.$touched">Chứng minh nhân dân phải gồm 9 chữ số</span>
                    </md-input-container>
                    <div flex="50">
                        <md-input-container>
                            <label >Ngày sinh</label>
                            <md-datepicker ng-model="newInfor.birthdate"></md-datepicker>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-align="space-around start">
                    <md-radio-group flex="45"  ng-model="newInfor.gender" layout="row" style="margin-top: 30px;">                    
                        <label>Giới tính: </label>
                        <md-radio-button value="Nam">Nam</md-radio-button>
                        <md-radio-button value="Nu">Nữ</md-radio-button>
                    </md-radio-group>
                    <md-input-container flex="45">
                        <label >Địa chỉ</label>                    
                        <input  name="address" required type="text" ng-model="newInfor.address">
                        <span class="red-text" ng-show="newForm.address.$error.required && newForm.address.$touched">Đây là trường bắt buộc</span>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="space-around start" layout-padding>
                    <md-input-container flex="45" md-no-float class="md-block">
                        <label >Số điện thoại</label>                    
                        <input name="phone" md-maxlength="11" md-minlength="10" required ng-pattern="/^[0-9]{10,11}$/"  ng-model="newInfor.numberPhone" required>
                        <span class="red-text" ng-show="newForm.phone.$error.required && newForm.phone.$touched">Đây là trường bắt buộc</s
                            <span class="red-text" ng-show="(newForm.phone.$error.minlength || newForm.phone.$error.maxlength) && newForm.phone.$touched">Số điện thoại phải lớn hơn 10 chữ số</span>
                    </md-input-container>
                    <md-input-container flex="45" class="md-icon-float md-block"  flex-offset="5">
                        <label >Email</label>
                        <input name="email" type="email" ng-model="newInfor.email">
                        <span class="red-text" ng-show="newForm.email.$invalid && newForm.email.$touched">Email chưa đúng định dạng</span>
                    </md-input-container>
                </div>
                <div layout="row">
                    <h3 style="color: #cc0000; text-align: center; text-shadow: 3px 3px 3px #DDDDDD;" flex="95">Thông tin câu lạc bộ</h3> 
                </div>
                <div layout="row" layout-align="space-around start" layout-padding>
                    <md-input-container flex="45" md-no-float class="md-block">
                        <label >Tên câu lạc bộ</label>                    
                        <input name="club"  ng-model="clubInfor.name" required>
                        <span class="red-text" ng-show="newForm.club.$error.required && newForm.club.$touched">Đây là trường bắt buộc</span>
                    </md-input-container>
                    <md-input-container flex="45" class="md-icon-float md-block"  flex-offset="5">
                        <label >Địa chỉ</label>
                        <input name="addressClub" required type="text" ng-model="clubInfor.address">
                        <span class="red-text" ng-show="newForm.addressClub.$error.required && newForm.addressClub.$touched">Đây là trường bắt buộc</span>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="space-around start" layout-padding>
                    <md-input-container flex="45" md-no-float class="md-block">
                        <label >Khu vực</label>                    
                        <md-select name="province" required ng-model="clubInfor.province" md-on-open="loadProvince()" style="min-width: 200px;">
                            <md-option ng-value="province.idProvince" ng-repeat="province in provinces">{{province.province}}</md-option>
                        </md-select>
                        <span class="red-text" ng-show="newForm.province.$error.required && newForm.province.$touched">Đây là trường bắt buộc</span>
                    </md-input-container>                
                </div>
            </md-content>

    </md-dialog-content>

    <md-dialog-actions layout="row">      
        <span flex></span>
        <md-button class="md-primary md-raised" ng-click="cancel()">
             Hủy
        </md-button>
        <md-button class="md-warn md-raised" ng-click="answer()">
           Thêm
        </md-button>
    </md-dialog-actions>
            </form>
</md-dialog>