<!--<div class="ms-theme-options-panel" layout="row" layout-align="start start">-->

    <!--<div  ng-style="{'background-color': '#1D2028', 'color': '#ffffff'}"  class="ms-theme-options-panel-button md-primary-bg" ng-click="toggleOptionsPanel()">-->
        <!--<md-icon md-font-icon="icon-account" class="white-text"></md-icon>-->
    <!--</div>-->

    <!--<div class="ms-theme-options-list" layout="column">-->
      <!--<div class="theme-option">-->
        <!--<div class="option-title"></div>-->
        <!--<md-menu-item  class="theme">-->
          <!--<md-button class="md-raised theme-button"  ng-click="vm.changePasswordDialog()"-->
                     <!--ng-style="{'background-color': '#1D2028','border-color': '#009688','color': '#ffffff'}">-->
            <!--<md-icon ng-style="{'color': '#ffffff'}"  md-font-icon="icon-key-change"></md-icon>-->
            <!--<span>Đổi mật khẩu</span>-->
          <!--</md-button>-->
        <!--</md-menu-item>-->
        <!--<md-menu-item  class="theme">-->
          <!--<md-button class="md-raised theme-button"  ng-click=""-->
                     <!--ng-style="{'background-color': '#1D2028','border-color': '#009688','color': '#ffffff'}">-->
            <!--<md-icon ng-style="{'color': '#ffffff'}"  md-font-icon="idialogLogoutgout"></md-icon>-->
            <!--<span>Đăng xuất</span>-->
          <!--</md-button>-->
        <!--</md-menu-item>-->
      <!--</div>-->
    <!--</div>-->
<!--</div>-->
